.main-typo {
  font-family: Georgia, serif;
}
.special-typo {
  font-family: Georgia, serif;
  letter-spacing: 0em;
}
body {
  background-color: #fff;
  background-image: url('../img/noisy-texture-50x50.png');
  background-repeat: repeat;
  font-family: Georgia, serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #115577;
  font-family: Georgia, serif;
  letter-spacing: 0em;
  letter-spacing: 0;
  line-height: 1em;
}
a {
  color: #3598dc;
}
a:hover [class^="icon-"],
a [class*=" icon-"] {
  text-decoration: none;
}
.btn.btn-default,
.btn.btn-primary {
  border-radius: 8px;
  border-width: thin thin medium thin;
}
.btn.btn-primary {
  background-color: #3598dc;
  border-color: #1376ba;
  color: #ffffff;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  background-color: #1376ba;
  border-color: #005498;
}
.l-header .btn.btn-search {
  border-bottom-width: thin;
}
.card.card-primary {
  border-color: #1376ba;
  border-width: thin thin medium thin;
  color: #808b8d;
}
.card.card-primary .name {
  color: #3598dc;
}
.card.card-primary:hover {
  color: #808b8d;
}
.form-control:focus {
  border-color: #3598dc;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(128, 139, 141, 0.075), 0 0 8px rgba(53, 152, 220, 0.6);
  box-shadow: inset 0 1px 1px rgba(128, 139, 141, 0.075), 0 0 8px rgba(53, 152, 220, 0.6);
}
.heading-iconed {
  border-bottom: 1px solid #115577;
}
.heading-iconed [class^="icon-"],
.heading-iconed [class*=" icon-"] {
  display: none;
}
.heading-iconed > :first-child,
.heading-iconed > :last-child {
  margin-bottom: 5px;
}
.l-header {
  background-color: #fff;
}
.l-header .logo {
  background-image: url(../img/acme-md-lg.png);
  height: 35px;
  width: 144px;
}
.l-header .logo-holder {
  display: block;
  padding: 8px 5px;
}
.l-footer {
  border-top: thin solid #ecf0f1;
}
.l-footer .logo {
  background-image: url(../img/acme-md-lg.png);
  height: 65px;
  width: 195px;
}
.box-list .box .box-header {
  background-color: #ecf0f1;
  color: #337799;
}
.card-course .name {
  min-height: 78px;
}
.sm .card-course .name {
  min-height: 70px;
}
.list-group .list-group-item.active,
.list-group .list-group-item.active:hover,
.list-group .list-group-item.active:focus {
  background-color: #337799;
  border-color: #337799;
  color: #ffffff;
  font-weight: bolder;
}
.header-info.user-info {
  padding-left: 0;
}
.degradee0001 {
  background: #ecf0f1;
  background: -moz-linear-gradient(top, #ecf0f1 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ecf0f1), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ecf0f1 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #ecf0f1 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #ecf0f1 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #ecf0f1 0%, #ffffff 100%);
  filter: progid:DXImageTransorm.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#ffffff', GradientType=0);
}
#contentHolder :first-child {
  margin-top: 0;
}
.switch + label:after {
  content: 'no';
}
.switch:checked + label:after {
  content: 'yes';
}
