// colors 
@primary-color : rgb(0,0,0);
@secondary-color : rgb(182,182, 182);

@positive-color: #000; //// text color in light bg
@negative-color: #fff; // text color in darker bg

@primary-color-dark: @primary-color - #222;
@primary-color-even-darker: @primary-color - #444;
@secondary-color-dark: @secondary-color - #222;
@secondary-color-even-darker: @secondary-color - #444;

//aux color
@gray-light : rgb(236,240,241);
@gray : rgb(182,182,182);
@gray-dark : rgb(128,139,141);

//layout color
@header-bg-color: #fff;
@footer-bg-color: #fff;
@dropdown-menu-text-color: #fff;

// typography
@main-typo : arial, sans-serif;
@special-typo : times new roman, sans-serif;
@special-typo-letter-spc: 0em;

// logo
@logo-default : url(../img/brand-md-lg.png);
@logo-default-width : 120px;
@logo-default-height : 32px;

@logo-xs : @logo-default;
@logo-sm : @logo-default;
@logo-md : @logo-default;
@logo-lg : @logo-default;
@logo-v-padding : 10px;
@logo-h-padding : 5px;

@border-default : thin solid @gray-light;
@corner-radius : 4px;
@form-focus: inset 0 1px 1px rgba(red(@gray-dark), green(@gray-dark), blue(@gray-dark), 0.075), 0 0 8px rgba(red(@primary-color), green(@primary-color), blue(@primary-color), 0.6);

.main-typo { font-family:@main-typo; }
.special-typo {font-family:@special-typo; letter-spacing: @special-typo-letter-spc;}

// Basics
body {
	background-color: #fff;
	background-image: url('../img/noisy-texture-50x50.png');
	background-repeat:repeat;
	font-family: @main-typo;
}
h1, h2, h3, h4, h5, h6 {
	color: @positive-color;
	.special-typo;
	letter-spacing: 0;
	line-height: 1em;
}
a {
	color: #000;
	&:hover [class^="icon-"], [class*=" icon-"] {
		text-decoration: none;
	}
	&:hover {
		color: @secondary-color;
	}
}
.brand-logo (@url: @logo-default, @width: @logo-default-width , @height: @logo-default-height) {
	background-image: @url;
	height: @height;
	width: @width;
}
.btn {
	&.btn-default,
	&.btn-primary {
		border-radius: (@corner-radius * 2);
		border-width: thin;
	}
	&.btn-primary {
		background-color: @primary-color;
		border-color: @primary-color-dark;
		color: @negative-color;
		&:hover,
		&:focus,
		&:active,
		&.active {
			background-color: @primary-color-dark;
			border-color: @primary-color-even-darker;
		}
	}
	&.btn-search {
		.l-header & {
			border-bottom-width: thin;
		}
	}
}
.card {
	&, &:hover{
		border-style: dotted;
	}
	&.card-primary {
		border-color: @positive-color;
		border-width: thin;
		color: @positive-color;

		.name {
			color: @positive-color;
		}

		&:hover {
			color: @positive-color;
		}
	}
}

.form-control:focus {
  border-color: @primary-color;
  outline: 0;
  -webkit-box-shadow: @form-focus;
  box-shadow: @form-focus;
}
.heading-iconed {
	border-bottom: 1px solid @positive-color;

	[class^="icon-"], [class*=" icon-"] {
		display: none;
	}

	> :first-child, > :last-child {
		margin-bottom: 5px;
	}
}
// Layout
.l-header {
	background-color: @header-bg-color;
}
.l-header .logo {
	.brand-logo;
}
	.l-header .logo-holder {
		display: block;
		padding: @logo-v-padding @logo-h-padding;
	}

.l-footer {
	background-color: @footer-bg-color;
	border-top: @border-default;

	h1, h2, h3, h4, h5, h6, a {
		color: @positive-color;
	}

	.logo {
		.brand-logo(@logo-sm, 195px, 65px);
	}
}

// Modules
.box-list {
	.box {
		.box-header {
			background-color: @gray-light;
			color: @primary-color;
		}
	}
}
.card-course {
	.name {
		min-height: 78px;
		.sm & {
			min-height: 70px;
		}
	}
}
.carousel { 
	.carousel-control {
		color: @positive-color;
	}
	.carousel-item-label {
		bottom: 0;
	}
}
.list-group{
	.list-group-item.active,
	.list-group-item.active:hover,
	.list-group-item.active:focus {
		background-color: @secondary-color; 
		border-color: @secondary-color;
		color: @negative-color;
		font-size: 1.6em;
		font-weight: lighter;
	}
}
.header-info {
	&.user-info {
		padding-left: 10px;
	}
}
.lessons-list.subscribed .lessons-content-item-descpt .media-heading {
	font-size: 1.4em;
}
// Special classes
.degradee0001 {
	background: @gray-light;
	background: -moz-linear-gradient(top,  @gray-light 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@gray-light), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  @gray-light 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  @gray-light 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  @gray-light 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  @gray-light 0%,#ffffff 100%);	
	// manual input in filter!
	filter: progid:DXImageTransorm.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 );
}
#contentHolder {
	:first-child {
		margin-top: 0;
	}
}
.switch {
	+ label:after {	content: 'não'; }
	&:checked + label:after { content: 'sim'; }
}