/* Mixins */
.special-typo {
  font-family: 'Enriqueta', serif;
  letter-spacing: -0.04em;
}
/*##########   system    ############*/
/* Basics */
body {
  font-family: Verdana, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Enriqueta', serif;
  letter-spacing: -0.04em;
}
/* Layout */
/* .l-main-content {} */
/* .l-side-content {} */
/* Modules */
/* card-course-vert = vertical course cards. General use: .carrier */
/* card-course-hor = horizontal course cards. General use: course listings (profile, search results...) */
/* carrier = icon(opt), title, see all link (opt), course list */
.l-side-content .course-infos {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  margin: 10px 0 0 0;
  padding: 2px;
}
.l-side-content .course-infos > .course-info-heading {
  background-color: #eeeeee;
  color: #0172c2;
  font-weight: bold;
  padding: 6px 8px;
}
.carousel-control {
  background: none !important;
}
.carousel-control span {
  color: #8e44b4;
}
.carousel-control:hover {
  opacity: 1;
}
.carousel-control:hover span {
  color: #8e44b4;
}
/* State */
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  border-color: #eeeeee;
  background-color: #eeeeee;
  color: #0172c2;
  font-weight: bold;
  padding: 10px 15px;
}
/* Theme */
.btn {
  color: #8e44b4;
}
.btn-primary {
  background-color: #8e44b4;
  border-color: #6c2292;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #6c2292;
  border-color: #4a0070;
  color: #fff;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #8e44b4;
  border-color: #6c2292;
}
@media (min-width: 32em) {
  .logo {
    background-image: url(../img/logo-vivo-lc-sm.png);
    height: 65px;
    width: 159px;
  }
}
@media (min-width: 62em) {
  .logo {
    background-image: url(../img/logo-vivo-lc-md.png);
    height: 65px;
    width: 195px;
  }
}
/* layout adjustments */
.navbar {
  margin-bottom: 0;
}
.navbar-btn,
.navbar-form {
  margin-top: 25px;
}
/* since the brand logo is heigher than the prototype placeholder, the margin needs adjustment. */
.side-content .box .title {
  color: #0172c2;
  font-weight: bold;
}
#course-box .user-rating {
  margin-top: -2px;
}
.card .title {
  min-height: 60px;
}
