@charset "utf-8";
/* CSS Document for Izzui Demo*/

/*#######################
wireframe auxiliary classes
########################*/
.bolder {font-weight:bolder;}
.light-gray-bg {background-color:#f4f4f4;}
.box-white {background-color:#fff;	border:1px solid #dddddd; border-top:0;}

/*#######################
bootstrap classes replacement
########################*/
.navbar .input-group-btn .btn {padding-top:9px; padding-bottom:9px;}

/*#######################
bootstrap classes extensions
########################*/
.btn.btn-xxs {font-size: 1em; padding: 2px 3px;}
.btn .caret.mid {margin-left:5px;}
.btn .caret.far {margin-left:10px;}
.progress .progress-bar-empty {background-color:#ddd;}

/*#######################
new izzui structure patterns
########################*/
.aired {padding:20px;}
.aired-v {padding:20px 0;}
.aired-h {padding:0 20px;}

.right-near {margin-right:2px}
.right-mid {margin-right:5px;}
.right-far {margin-right:10px;}

.v-align-mid {vertical-align:middle !important;}

/*#######################
izzui demo defaults
########################*/
/* basics */
/* body {font-family:'Share', cursive;} */

/* header */
.logo {
	background-image:url(http://placehold.it/145x34);
	background-repeat:no-repeat;
	height:34px;
	margin:0 auto;
	width:145px;
}
.logo-holder {display:block; padding:8px 15px;}
.logo-description {display:none;}

/* main */
.leaderboard-col {padding-top:5px; padding-bottom:5px;}
.leaderboard-col .lb-header {margin-bottom:10px;}
.leaderboard-col .lb-title {margin:5px 0;}
.leaderboard-col .lb-tabs {font-size:.9em;}
.leaderboard-col .lb-table {font-size:.7em; margin:0;}

.card:hover {background:#f4f4f4; cursor:pointer; text-decoration: none;}
.card .progress {height:5px; margin-top:10px; margin-bottom:0;}

.extra-info {margin:10px 0 0 0;}
.extra-info-icon {text-rendering:optimizeLegibility; -webkit-text-stroke:0.02em;}

/* footer */
.footer {margin:20px 0 0 0;}
.img-pay-mthd {margin-bottom:5px; border:0;}

/* extra small devices * /
.xs .navbar {padding-bottom:10px;}
.xs .navbar-brand {float:inherit;}

/* small devices */
/* ##general## */
#content-main h1:first-child {margin-top: 4px;}
.sm h1 {font-size:1.8em;}
.sm .title {-webkit-text-stroke:0.006em;} /* smoothing in chrome. makes the tipography bolder. */
/* ##card## */
.sm .card h3 {font-size:1.2em; margin-top: 0px; min-height: 3.2em;}
.sm .card h4 {font-size:1em;}
.sm .card .extra-info-value {font-size:.8em;}
/* ##leaderboard## */
.sm .leaderboard-col {font-size:1em;}
.sm .lb-title {font-size:1.3em; font-weight:bold;}
/*.sm .leaderboard-table-metric {font-size:1em;}*/


/* medium devices */
.md .title {-webkit-text-stroke:0.02em;} /* smoothing in chrome. makes the tipography bolder. */
.md .card h3 {font-size:1.6em; margin-top: 0px; min-height: 3.5em;}
