@charset "utf-8";
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #758b57;
  border-color: #54702e;
}
.btn-primary {
  background-color: #79a240;
  border-color: #57801e;
}
.btn-primary:hover {
  background-color: #57801e;
  border-color: #355e00;
}
.list-group .list-group-item:first-child {
  margin-top: 0;
}
.list-group .list-group-item.active {
  background-color: #333333;
  border-width: 0;
  color: #ffffff;
}
.list-group .list-group-item .item-label {
  margin-top: 5px;
}
.nav-tabs > li.active > a {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 1px 0 1px;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span {
  background-color: #79a240;
  color: #fff;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  vertical-align: middle;
}
/*
########
Basics
########
*/
body {
  font-family: Arial, sans-serif;
  color: #333333;
  background-color: #eeeeee;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, serif;
  letter-spacing: -0.04em;
}
h1:first-child {
  margin-top: 0;
}
h2 + h3 {
  margin-top: 0;
}
h3 + p {
  margin-top: -5px;
}
a {
  color: #79a240;
  letter-spacing: 0;
}
a:hover,
a:focus {
  text-decoration: underline;
}
legend {
  margin-bottom: 10px;
}
.logo-description {
  display: none;
}
.fb-commments-container .fb_iframe_widget,
.fb-commments-container .fb_iframe_widget span,
.fb-commments-container .fb_iframe_widget iframe[style] {
  width: 100% !important;
}
[class*="justified"].icons-only .btn {
  padding: 0;
}
.btn.btn-ret {
  border-radius: 0;
}
.btn.btn-xxs {
  padding: 2px 3px 2px 3px;
}
.btn .caret.mid,
i[class^="icon-"].mid {
  margin-left: 5px;
}
.btn .caret.far,
i[class^="icon-"].far {
  margin-left: 10px;
}
.list-justified {
  border-bottom: 0;
  width: 100%;
}
.list-justified > li {
  display: table-cell;
  float: none;
  text-align: center;
  width: 1%;
}
.list-justified > li > a > i {
  margin: 0;
}
/*
########
Layout: major elements.
########
*/
.l-header {
  margin-bottom: 0;
}
.l-page-header .header-info {
  border-color: #cccccc;
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-left: 10px;
  padding-right: 40px;
}
.l-page-header .header-title {
  font-size: 2em;
}
.l-page-header .lead {
  font-size: 1.2em;
}
.l-page-header .header-extras {
  margin-bottom: 0;
  padding-left: 40px;
}
.course-header.sub .course-stats-item {
  margin-top: 25px;
}
.course-header.sub .course-rating {
  margin-bottom: 0;
}
.course-header.sub .thumbnail {
  max-width: 80px;
}
.course-header.unsub .course-title {
  margin-top: 0;
}
.user-header .lvl-actual {
  margin: 5px auto;
}
.user-header .user-stats-item {
  font-size: 3em;
  line-height: .5em;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
}
.user-header .user-stats-item:first-child {
  margin-left: 0;
}
.user-header .user-stats-number {
  display: block;
}
.user-header .user-stats-type {
  font-size: 0.3em;
}
.l-content-main > :first-child {
  margin-top: 0;
}
.l-content-side.nopad {
  padding: 0;
}
.l-content-side.nopad-h {
  padding-left: 0;
  padding-right: 0;
}
.l-footer {
  padding: 20px 0 ;
  background-color: #ffffff;
}
.l-footer .img-pay-mthd {
  border: 0;
  margin-bottom: 5px;
}
.l-footer .logo {
  background-image: url(http://placehold.it/200x55);
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 55px;
  width: 200px;
}
/*
########
Modules: elements that can be applied anytime (almost, at least). :)
########
*/
.l-header #btn-topics,
.l-header #btn-user,
.l-header #search-main {
  margin-top: 15px;
}
.box {
  background-color: #fff;
  border-radius: 4px;
  margin-top: 30px;
  padding: 0;
}
.box .box-header {
  background-color: #eeeeee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 1.2em;
  margin: 0;
  padding: 6px 8px;
}
.box .box-content {
  padding: 10px;
}
.box .box-content .thumb {
  height: 90px;
  width: 120px;
}
.box .box-footer {
  padding: 10px 0;
  text-align: center;
}
.box.bordered {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}
.box.noborder {
  border: 0;
}
.box .extra-info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.box .extra-info-list .extra-info-item {
  margin-top: 10px;
}
.box .extra-info-list .extra-info-item:first-child {
  margin-top: 0;
}
.box .extra-info-list .extra-info-item i[class^="icon-"] {
  margin-left: 0;
}
.sm .box .extra-info-list .extra-info-item .extra-info-item-value {
  display: block;
}
.btn-icon-default {
  display: inline-block;
  padding: 8px;
  text-decoration: none;
  -o-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.btn-icon-default.model-01 {
  background-color: #79a240;
  border-radius: 50%;
  color: #fff;
}
.btn-icon-default.model-01:hover {
  -webkit-box-shadow: 0 0 10px #79a240;
  box-shadow: 0 0 10px #79a240;
  -webkit-transition: all 0.2s ease-in-out;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.btn-icon-default[class*="-info"].icon-larger {
  padding-left: 13px;
  padding-right: 13px;
}
.btn-icon-default[class*="-info"].icon-2x {
  padding-left: 18px;
  padding-right: 18px;
}
.card {
  background-color: #fff;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 4px;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  line-height: 1.428571429;
  padding: 4px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.card .name,
.card .lvl-points {
  display: block;
}
.card .name,
.card .lvl-points,
.card .price,
.card .course-rating {
  display: block;
}
.card .name {
  font-size: 1.4em;
  line-height: 1.2em;
}
.card:hover {
  background-color: #eeeeee;
  border-color: #79a240;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  color: #333333;
  position: relative;
  text-decoration: none;
  top: -4px;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 10px 6px -6px #777777;
  -moz-box-shadow: 0 10px 6px -6px #777777;
}
.card:hover:before,
.card:hover:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.card:hover:after {
  left: auto;
  right: 10px;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.card:hover > .box,
.card:hover > .thumbnail {
  border: 0;
}
.card.card-default {
  border-color: #cccccc;
  color: #333333;
}
.card.card-default:hover {
  color: #333333;
}
.card.card-primary {
  border-color: #79a240;
  color: #79a240;
}
.card.card-primary:hover {
  color: #79a240;
}
.card-course .card-body {
  padding: 9px;
}
.card-course .name {
  min-height: 60px;
  padding: 9px 9px 0;
  text-align: left;
}
.sm .card-course .name {
  font-size: 1.2em;
}
.card-course .price {
  font-size: 1.2em;
  text-align: center;
}
.card-course .course-rating {
  margin: 0 auto;
}
.card-friend {
  width: 99%;
}
.card-friend:hover {
  -ms-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  z-index: 2;
}
.card-friend .card-thumb,
.card-friend .card-subject {
  float: left;
}
.card-friend .card-subject {
  padding-left: 10px;
}
.sm .card-friend .card-subject {
  padding-left: 0;
}
.card-friend .card-body {
  padding: 5px 0;
}
.card-friend .card-body [class^="icon-"].pull-left,
.card-friend .card-body [class^="icon-"].pull-right {
  margin: 3px 3px 0 0;
}
.carousel .carousel-control {
  color: #79a240;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
  background-color: #eeeeee;
  background-image: none;
}
.carousel .carousel-control:hover,
.carousel .carousel-control:focus {
  color: #57801e;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel .carousel-item-label {
  bottom: 5px;
  left: 25%;
  right: 25%;
}
.course-rating .course-rate {
  margin-top: -2px;
}
.friends-list .friends-item {
  padding: 2px;
}
.friends-list .friends-item img {
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}
.friends-list.side .friends-item {
  width: 42px;
}
.friends-list.side .friends-item a {
  display: block;
}
.friends-list.side .friends-item img {
  border-radius: 50%;
}
.friends-list.side .friends-item img:hover {
  -webkit-box-shadow: 0 0 10px #79a240;
  box-shadow: 0 0 10px #79a240;
  -webkit-transition: all 0.2s ease-in-out;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.friends-list.side .friends-item img:hover {
  border-color: #79a240;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}
.friends-list.modal .friends-item {
  width: 50px;
}
.groups-list {
  padding: 0 10px;
}
.groups-list .groups-item {
  margin-bottom: 15px;
}
.groups-list .groups-item:last-child {
  margin-bottom: 0;
}
.groups-list .groups-info {
  font-size: .7em;
}
.heading-iconed {
  margin-top: 20px;
  margin-bottom: 10px;
}
.heading-iconed > :first-child,
.heading-iconed > :last-child {
  margin: 0;
}
.heading-iconed > :last-child {
  float: right;
}
.heading-iconed > :first-child {
  float: left;
  font-size: 1.8em;
}
.leaderboard .leaderboard-header {
  margin-bottom: 10px;
  text-align: left;
}
.l-content-side .leaderboard .leaderboard-header {
  text-align: center;
}
.leaderboard .leaderboard-heading {
  margin-top: 5px;
}
.leaderboard .leaderboard-list {
  margin-top: -1px;
  border-radius: 0;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-top: 0;
}
.lessons-list > .list-group > .list-group-item.lessons-content {
  padding: 0 15px 10px;
}
.lessons-list > .list-group > .list-group-item .lessons-content-item {
  background-color: #eeeeee;
  border-width: 0 1px 1px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 2px;
  width: 225px;
}
.lessons-list > .list-group > .list-group-item .lessons-content-item:hover {
  background-color: #cccccc;
}
.lessons-list > .list-group > .list-group-item .lessons-content-item-thumb,
.lessons-list > .list-group > .list-group-item .lessons-content-item-descpt {
  display: block;
  float: left;
}
.lessons-list > .list-group > .list-group-item .lessons-content-item-thumb {
  width: 64px;
}
.lessons-list > .list-group > .list-group-item .lessons-content-item-descpt {
  margin-left: 5px;
  margin-top: 10px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}
.md .lessons-list > .list-group > .list-group-item .lessons-content-item {
  width: 250px;
}
.l-header .logo-holder {
  display: block;
  padding: 15px 0px;
}
.l-header .logo-holder .logo {
  background-image: url(http://placehold.it/145x34);
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 34px;
  width: 145px;
}
.triangle {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
}
.triangle.pos1 {
  top: 0;
  left: 0;
}
.triangle.pos1.triangle-main {
  border-width: 80px 80px 0 0;
}
.triangle.pos1.triangle-shadow {
  border-width: 82px 82px 0 0;
}
.triangle.pos1:before {
  top: -62px;
  content: 'feito!';
  color: #FFF;
  font-weight: bold;
  position: absolute;
  left: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-filter: blur(0px);
  /* or any other filter*/

  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.triangle.triangle-done {
  border-color: #60c467 transparent transparent transparent;
}
.triangle.triangle-incomplete {
  border-color: #fbc803 transparent transparent transparent;
}
.triangle.triangle-shadow {
  border-color: #cccccc transparent transparent transparent;
}
.menu > li.active {
  background-color: #225aa6;
  border-radius: 15px 0 0 15px;
  position: relative;
}
.menu > li.active > a {
  color: #fff;
  border-radius: 15px 0 0 15px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 2px 0 0 inset, rgba(0, 0, 0, 0.1) 0 2px 3px 0;
  box-shadow: rgba(255, 255, 255, 0.2) 0 2px 0 0 inset, rgba(0, 0, 0, 0.1) 0 2px 3px 0;
}
.menu > li.active:after,
.menu > li.active:before {
  border: solid transparent;
  content: " ";
  height: 0;
  left: 100%;
  position: absolute;
  width: 0;
}
.menu > li.active:after {
  border-left-color: #225aa6;
  border-width: 20px;
  margin-top: -20px;
  top: 50%;
}
.menu > li.active:before {
  border-width: 36px;
  margin-top: -36px;
  top: 50%;
}
.menu > li.active > a:hover {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.menu > li > a:hover,
.menu > li > a:focus {
  background-color: #fff;
  border-radius: 15px;
  color: #225aa6;
}
.menu > li.active > a:hover,
.menu > li.active > a:focus {
  background-color: #225aa6;
  color: #fff;
}
.my-badges .my-badges-header {
  margin-bottom: 10px;
  text-align: left;
}
.l-content-side .my-badges .my-badges-header {
  text-align: center;
}
.my-badges .my-badges-heading {
  margin-top: 5px;
}
.noty .noty-img {
  width: 34%;
}
.noty .noty-info {
  padding: 10px;
  width: 65%;
}
.progress {
  height: 5px;
  margin: 10px 0 0 0;
}
.progress .progress-bar-empty {
  background-color: #eeeeee;
}
.progress.closer {
  margin-top: 5px;
}
.progress + .progress-label {
  margin-top: 5px;
  margin-bottom: 0;
}
.switch {
  display: none;
}
.switch + label {
  background-color: #900;
  border-radius: 5px;
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  height: 28px;
  line-height: 16px;
  /* margin-right: 30px; 
		padding: 9px; */

  position: relative;
  width: 65px;
}
.switch:checked + label {
  background-color: #115500;
}
.switch + label:before {
  content: ' ';
  position: absolute;
  background: #eeeeee;
  top: -1px;
  z-index: 99999;
  left: -1px;
  width: 21px;
  height: 30px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0 5px rgba(0, 0, 0, 0.6), inset 0 -25px 15px -15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.6), inset 0 -25px 15px -15px rgba(0, 0, 0, 0.1);
}
.switch + label:after {
  content: 'não';
  position: absolute;
  top: 7px;
  left: 30px;
  font-size: 1.2em;
}
.switch:checked + label:after {
  content: 'sim';
  left: 8px;
}
.switch:checked + label:before {
  content: ' ';
  position: absolute;
  z-index: 99999;
  left: 44px;
}
.switch + label:after,
.switch + label:before,
.switch label {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
/*
########
State
########
*/
.hover-border:hover {
  border-color: #79a240;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}
.icon-hover-01 {
  border: 5px solid rgba(255, 255, 255, 0);
}
.icon-hover-01:hover {
  border: 5px solid #003884;
  -webkit-box-shadow: 0 0 0 4px #fff;
  box-shadow: 0 0 0 4px #fff;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(1.2);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: transform 0.2s, opacity 0.2s, border-width 0.2s;
  transform: scale(1.2);
}
/*#######################
izzui demo defaults
########################*/
.thumb-video-play {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
}
.icon-3x.thumb-video-play {
  margin-left: -16px;
  margin-top: -21px;
}
/*#######################
modules
########################*/
/* rating */
.modal .rating {
  margin-top: 30px;
}
.rating-hint {
  margin: 0 auto;
}
/*#######################
mais específicos
########################*/
/*
.sm p.lead  { font-size: 1.2em;}
.sm .col-title { font-size: 1.4em; }
.sm .card h3 { font-size: 1.2em; .nomargin-top; min-height: 3.2em; }
.sm .card h4 { font-size: 1em; }
.sm .extra-info-item-value.star { display: block; }
*/
.bolder {
  font-weight: bolder;
}
.nopad {
  padding: 0;
}
.nopad-v {
  padding-bottom: 0;
  padding-top: 0;
}
.nopad-h {
  padding-right: 0;
  padding-left: 0;
}
.nomargin {
  margin: 0;
}
.nomargin-v {
  margin-bottom: 0;
  margin-top: 0;
}
.nomargin-h {
  margin-right: 0;
  margin-left: 0;
}
.aired {
  padding: 20px;
}
.aired-v {
  padding-top: 20px;
  padding-bottom: 20px;
}
.aired-h {
  padding-right: 20px;
  padding-left: 20px;
}
.aired-min {
  padding: 10px;
}
.aired-min-v {
  padding-top: 10px;
  padding-bottom: 10px;
}
.aired-min-h {
  padding-right: 10px;
  padding-left: 10px;
}
.nomargin-top {
  margin-top: 0;
}
.right-near {
  margin-right: 2px;
}
.right-mid {
  margin-right: 5px;
}
.right-far {
  margin-right: 10px;
}
.top-near {
  margin-top: 10px;
}
.top-mid {
  margin-top: 15px;
}
.top-far {
  margin-top: 30px;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.box-tab-content {
  margin-top: -1px;
  border-radius: 0;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-top: 0;
}
.ellipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.em7 {
  font-size: 0.7em;
}
.em9 {
  font-size: 0.9em;
}
.em1 {
  font-size: 1em;
}
.em1-2 {
  font-size: 1.2em;
}
.em1-4 {
  font-size: 1.4em;
}
.em1-8 {
  font-size: 1.8em;
}
.main-typo {
  font-family: Arial, sans-serif;
}
.module-heading {
  margin-top: 5px;
}
.shadow-fx-title {
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.shadow-fx-box {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
.shadow-fx-box:before,
.shadow-fx-box:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.shadow-fx-box:after {
  left: auto;
  right: 10px;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.shadow-fx-box > .box,
.shadow-fx-box > .thumbnail {
  border: 0;
}
.special-typo {
  font-family: Arial, serif;
  letter-spacing: -0.04em;
}
.v-align-mid {
  vertical-align: middle;
}
