/*
########
Basics
########
*/
body {
  font-family: Arial, sans-serif;
  background-color: #eeeeee;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, serif;
  letter-spacing: -0.04em;
}
h1:first-child {
  margin-top: 0;
}
h2 + h3 {
  margin-top: 0;
}
h3 + p {
  margin-top: -5px;
}
a {
  color: #79a240;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.logo .logo-description {
  display: none;
}
.fb-commments-container .fb_iframe_widget,
.fb-commments-container .fb_iframe_widget span,
.fb-commments-container .fb_iframe_widget iframe[style] {
  width: 100% !important;
}
.btn-primary {
  background-color: #79a240;
  border-color: #57801e;
}
.btn-primary:hover {
  background-color: #57801e;
  border-color: #355e00;
}
.list-group .list-group-item:first-child {
  margin-top: 0;
}
.list-group .list-group-item.active,
.list-group .list-group-item.active:hover,
.list-group .list-group-item.active:focus {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.nav-tabs > li.active > a {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-bottom-width: 0;
}
.btn .caret.mid,
i[class^="icon-"].mid {
  margin-left: 5px;
}
.btn .caret.far,
i[class^="icon-"].far {
  margin-left: 10px;
}
.btn.btn-ret {
  border-radius: 0;
}
.btn.btn-xxs {
  padding: 2px 3px;
}
.btn.btn-half-width {
  width: 35%;
}
.btn.btn-half-width .btn-half-width-label {
  display: block;
}
/*
########
Layout: major elements.
########
*/
.l-header {
  margin-bottom: 0;
}
.l-header #btn-topics,
.l-header #btn-user,
.l-header #search-main {
  margin-top: 15px;
}
.l-header .logo-holder {
  display: block;
  padding: 15px 0px;
}
.l-header .logo-holder .logo {
  background-image: url(http://placehold.it/145x34);
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 34px;
  width: 145px;
}
.l-view .l-page-header.course-header.sub {
  padding-bottom: 2px;
  margin-top: 0;
}
.l-view .l-page-header.course-header.sub .course-info {
  border-color: #cccccc;
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-left: 10px;
  padding-right: 40px;
}
.l-view .l-page-header.course-header.sub .course-stats {
  margin-bottom: 0;
  margin-left: 40px;
  padding: 14px 0;
}
.l-view .l-page-header.course-header.sub .course-stats .course-stats-item {
  margin-left: 5px;
  padding: 0;
  text-align: center;
}
.l-view .l-page-header.course-header.sub .course-rating {
  margin-bottom: 0;
}
.l-view .l-page-header.course-header.sub .thumbnail {
  max-width: 80px;
}
.l-view .l-page-header.course-header.unsub .course-title {
  margin-top: 0;
}
.l-view .l-page-header.user-dashboard .user-info {
  border-color: #cccccc;
  border-style: solid;
  border-width: 0 1px 0 0;
  margin-left: 10px;
}
.l-view .l-page-header.user-dashboard .user-info .lvl-actual {
  margin: 5px auto;
}
.l-view .l-page-header.user-dashboard .user-stats {
  margin-bottom: 0;
  margin-left: 40px;
  padding: 14px 0;
}
.l-view .l-page-header.user-dashboard .user-stats .user-stats-item {
  margin-left: 40px;
  padding: 0;
  text-align: center;
}
.l-view .l-page-header.user-dashboard .user-stats .user-stats-number {
  display: block;
  font-size: 2em;
  line-height: 1em;
}
.l-view .l-page-header.user-dashboard .user-stats .user-stats-type {
  font-size: 0.9em;
}
.l-view .l-page-header .progress {
  height: 5px;
  margin: 5px 0 0 0;
}
.l-view .l-content-side.nopad {
  padding: 0;
}
.l-view .l-content-side.nopad-h {
  padding-left: 0;
  padding-right: 0;
}
.l-footer {
  padding: 20px 0 ;
  background-color: #ffffff;
}
.l-footer .img-pay-mthd {
  border: 0;
  margin-bottom: 5px;
}
.l-footer .logo {
  background-image: url(http://placehold.it/200x55);
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 55px;
  width: 200px;
}
/*
########
Modules: elements that can be applied anytime (almost, at least). :)
########
*/
.my-badges .my-badges-header {
  margin-bottom: 10px;
  text-align: left;
}
.l-content-side .my-badges .my-badges-header {
  text-align: center;
}
.my-badges .my-badges-heading {
  margin-top: 5px;
}
.box {
  background-color: #fff;
  border-radius: 4px;
  margin-top: 30px;
  padding: 0;
}
.box .box-header {
  background-color: #eeeeee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 1.2em;
  margin: 0;
  padding: 6px 8px;
}
.box .box-content {
  padding: 10px;
}
.box .box-content .thumb {
  height: 90px;
  width: 120px;
}
.box .box-footer {
  padding: 10px 0;
  text-align: center;
}
.box.bordered {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}
.box.noborder {
  border: 0;
}
.box .extra-info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.box .extra-info-list .extra-info-item {
  margin-top: 10px;
}
.box .extra-info-list .extra-info-item:first-child {
  margin-top: 0;
}
.box .extra-info-list .extra-info-item i[class^="icon-"] {
  margin-left: 0;
}
.btn-icon-default {
  display: inline-block;
  padding: 8px;
  text-decoration: none;
  -o-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.btn-icon-default.model-01 {
  background-color: #79a240;
  border-radius: 50%;
  color: #fff;
}
.btn-icon-default.model-01:hover {
  -webkit-box-shadow: 0 0 10px #79a240;
  box-shadow: 0 0 10px #79a240;
  -webkit-transition: all 0.2s ease-in-out;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.btn-icon-default[class*="-info"].icon-larger {
  padding-left: 13px;
  padding-right: 13px;
}
.btn-icon-default[class*="-info"].icon-2x {
  padding-left: 18px;
  padding-right: 18px;
}
.card {
  background-color: #fff;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  line-height: 1.428571429;
  padding: 4px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.card:hover {
  background-color: #eeeeee;
  border-color: #79a240;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  text-decoration: none;
}
.card .caption {
  padding: 9px;
  color: #333333;
}
.card .caption .course-name {
  display: block;
  font-size: 1.4em;
}
.card .caption .course-price {
  display: block;
  font-size: 1.2em;
}
.card .caption .course-rating {
  display: block;
  margin: 0 auto;
}
.card.model-01 .caption .course-name {
  min-height: 60px;
  text-align: left;
}
.card.model-01 .caption .course-price {
  text-align: center;
}
.carousel .carousel-control {
  color: #79a240;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
  background-color: #eeeeee;
  background-image: none;
}
.carousel .carousel-control:hover,
.carousel .carousel-control:focus {
  color: #57801e;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel .carousel-item-label {
  bottom: 5px;
  left: 25%;
  right: 25%;
}
.course-rating .course-rate {
  margin-top: -2px;
}
.friends-list .friends-item {
  padding: 2px;
}
.friends-list.side .friends-item {
  width: 42px;
}
.friends-list.side .friends-item a {
  display: block;
}
.friends-list.side .friends-item img {
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 42px;
}
.friends-list.side .friends-item img:hover {
  -webkit-box-shadow: 0 0 10px #79a240;
  box-shadow: 0 0 10px #79a240;
  -webkit-transition: all 0.2s ease-in-out;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.friends-list.side .friends-item img:hover {
  border-color: #79a240;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}
.friends-list.modal .friends-item {
  width: 50px;
}
.groups-list {
  padding: 0 10px;
}
.groups-list .groups-item {
  margin-bottom: 15px;
}
.groups-list .groups-item:last-child {
  margin-bottom: 0;
}
.groups-list .groups-info {
  font-size: .7em;
}
.leaderboard .leaderboard-header {
  margin-bottom: 10px;
  text-align: left;
}
.l-content-side .leaderboard .leaderboard-header {
  text-align: center;
}
.leaderboard .leaderboard-heading {
  margin-top: 5px;
}
.leaderboard .leaderboard-list {
  margin-top: -1px;
  border-radius: 0;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-top: 0;
}
.lessons-list > .list-group > .list-group-item.lessons-content {
  padding: 0 15px 10px;
}
.lessons-list > .list-group > .list-group-item .lessons-content-item {
  background-color: #eeeeee;
  border-width: 0 1px 1px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 2px;
  width: 225px;
}
.lessons-list > .list-group > .list-group-item .lessons-content-item:hover {
  background-color: #cccccc;
}
.lessons-list > .list-group > .list-group-item .lessons-content-item-thumb,
.lessons-list > .list-group > .list-group-item .lessons-content-item-descpt {
  display: block;
  float: left;
}
.lessons-list > .list-group > .list-group-item .lessons-content-item-thumb {
  width: 64px;
}
.lessons-list > .list-group > .list-group-item .lessons-content-item-descpt {
  margin-left: 5px;
  margin-top: 10px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}
.md .lessons-list > .list-group > .list-group-item .lessons-content-item {
  width: 250px;
}
.noty .noty-img {
  width: 34%;
}
.noty .noty-info {
  padding: 10px;
  width: 65%;
}
.progress {
  height: 5px;
  margin: 10px 0 0 0;
}
.progress .progress-bar-empty {
  background-color: #eeeeee;
}
.progress + .progress-label {
  margin-top: 5px;
  margin-bottom: 0;
}
/*
########
State
########
*/
.hover-border:hover {
  border-color: #79a240;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}
.icon-hover-01 {
  border: 5px solid rgba(255, 255, 255, 0);
}
.icon-hover-01:hover {
  border: 5px solid #003884;
  -webkit-box-shadow: 0 0 0 4px #fff;
  box-shadow: 0 0 0 4px #fff;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(1.2);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: transform 0.2s, opacity 0.2s, border-width 0.2s;
  transform: scale(1.2);
}
.title a {
  letter-spacing: 0;
  margin-top: 5px;
  -webkit-text-stroke: 0;
}
/*#######################
izzui demo defaults
########################*/
.side-menu > .active {
  background-color: #428bca;
  border-radius: 15px 0 0 15px;
  position: relative;
}
.side-menu > .active > a {
  border-radius: 15px 0 0 15px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 2px 0 0 inset, rgba(0, 0, 0, 0.1) 0 2px 3px 0;
  box-shadow: rgba(255, 255, 255, 0.2) 0 2px 0 0 inset, rgba(0, 0, 0, 0.1) 0 2px 3px 0;
}
.side-menu > .active:after,
.side-menu > .active:before {
  border: solid transparent;
  content: " ";
  height: 0;
  left: 100%;
  position: absolute;
  pointer-events: none;
  width: 0;
}
.side-menu > .active:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #428bca;
  border-width: 20px;
  margin-top: -20px;
  top: 50%;
}
.side-menu > .active:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 36px;
  margin-top: -36px;
  top: 50%;
}
.side-menu.nav > li > a:hover,
.side-menu.nav > li > a:focus {
  background-color: #fff;
  border-radius: 15px;
  color: #428bca;
}
.side-menu.nav > li.active > a:hover,
.side-menu.nav > li.active > a:focus {
  background-color: #428bca;
  color: #fff;
}
.thumb-video-play {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
}
.icon-3x.thumb-video-play {
  margin-left: -16px;
  margin-top: -21px;
}
.list-justified {
  border-bottom: 0;
  width: 100%;
}
.list-justified > li {
  display: table-cell;
  float: none;
  text-align: center;
  width: 1%;
}
.list-justified > li > a > i {
  margin: 0;
}
/*#######################
basic typography patterns
########################*/
.smooth02 {
  text-rendering: optimizeLegibility;
  -webkit-text-stroke: 0.02em;
}
.smooth006 {
  text-rendering: optimizeLegibility;
  -webkit-text-stroke: 0.006em;
}
/*#######################
modules
########################*/
.col-box {
  margin-top: 30px;
}
.col-box > .list-unstyled {
  margin-bottom: 0;
}
/* leaderboard */
.leaderboard-col {
  padding-top: 5px;
  padding-bottom: 5px;
}
.leaderboard-col .lb-table {
  margin: 0;
}
/* rating */
.modal .rating {
  margin-top: 30px;
}
.rating-hint {
  margin: 0 auto;
}
/* lessons list */
/*#######################
mais específicos
########################*/
/* enrolled */
.sm h1.title {
  font-size: 2em;
}
.sm p.lead {
  font-size: 1.2em;
}
.sm .col-title {
  font-size: 1.4em;
}
.sm .card h3 {
  font-size: 1.2em;
  margin-top: 0;
  min-height: 3.2em;
}
.sm .card h4 {
  font-size: 1em;
}
.sm .extra-info-item-value.star {
  display: block;
}
/* .md .title {-webkit-text-stroke:0.006em;} */
@charset "utf-8";
.bolder {
  font-weight: bolder;
}
.aired {
  padding: 20px;
}
.aired-v {
  padding-top: 20px;
  padding-bottom: 20px;
}
.aired-h {
  padding-left: 20px;
  padding-right: 20px;
}
.aired-min {
  padding: 10px 10px !important;
}
.aired-min-v {
  padding: 10px 0 !important;
}
.aired-min-h {
  padding: 0 10px !important;
}
.nomargin-top {
  margin-top: 0;
}
.right-near {
  margin-right: 2px;
}
.right-mid {
  margin-right: 5px;
}
.right-far {
  margin-right: 10px;
}
.top-near {
  margin-top: 10px;
}
.top-mid {
  margin-top: 15px;
}
.top-far {
  margin-top: 30px;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.box-tab-content {
  margin-top: -1px;
  border-radius: 0;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-top: 0;
}
.em7 {
  font-size: 0.7em;
}
.em9 {
  font-size: 0.9em;
}
.em1 {
  font-size: 1em;
}
.em1-2 {
  font-size: 1.2em;
}
.em1-4 {
  font-size: 1.4em;
}
.em1-8 {
  font-size: 1.8em;
}
.main-typo {
  font-family: Arial, sans-serif;
}
.module-heading {
  margin-top: 5px;
}
.shadow-fx-title {
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.shadow-fx-box {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
.shadow-fx-box:before,
.shadow-fx-box:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.shadow-fx-box:after {
  left: auto;
  right: 10px;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.shadow-fx-box > .box,
.shadow-fx-box > .thumbnail {
  border: 0;
}
.special-typo {
  font-family: Arial, serif;
  letter-spacing: -0.04em;
}
.v-align-mid {
  vertical-align: middle;
}
