		<!-- Main Content Col -->
		<div id="content-main" class="col-xs-12 col-sm-9 col-md-10" ng-controller="courseCtrl">
			<!-- <div class="fb-like pull-right clearfix" data-href="https://apps.facebook.com/izzuichannel/" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div> -->
			<div id="course-box" class="clearfix">
					<div class="col-sm-5 col-md-3">
						<span class="thumbnail">
							<img class="thumb" ng-src="img/{{course.thumb}}" alt="course thumb" />
						</span>
					</div>

					<div class="col-sm-7 col-md-9 clearfix">
						<h1 class="title">{{course.title}}</h1>
						<div class="col-sm-12 row top-mid">
							<a id="btn-buy" class="btn btn-primary btn-md right-far em7 earn-badge" data-layout="topCenter" data-type="information" data-badge="interested" data-url="#/course/{{course.id}}">Compre por R${{course.price}}</a>
							<a href="" class="em7">utilizar cupom</a>
						</div>

						<div class="col-sm-12 row top-near clearfix">
							<div class="pull-left right-far">
								<div class="star" data-score="1"></div>
							</div>
							<div class="pull-left">
								<div class="clearfix">
									<div title="Visualizações" class="extra-info-group pull-left right-far">
										<i class="icon-eye-open smooth02 gray"></i>
										<span class="extra-info-value">10330</span>
									</div><!-- /visualization -->
									<div title="Alunos Inscritos" class="extra-info-group pull-right">
										<i class="icon-ok-circle smooth02 gray"></i>
										<span class="extra-info-value">1033</span>
									</div><!-- /enrolled students -->
								</div>
							</div>
						</div>
					</div>
			</div><!-- /box -->
			<div class="col-sm-12 col-md-12">
				<h2 class="title em1-8"><strong>Informações</strong></h2>
				<h3 class="title em1-4">Descrição</h3>
				<p>{{course.description}}</p>
				<h3 class="title em1-4">Objetivos</h3>
				<p>{{course.objective}}</p>
				<h3 class="title em1-4">Direcionado a</h3>
				<p>{{course.target}}</p>

				<h2 class="title em1-8"><strong>Lições</strong></h2>
				<div id="lessons">
					<div class="list-group clearfix" ng-repeat="lesson in course.lessons" ng-style="overflow:hidden">
						<h3 class="list-group-item active title em1-2">{{lesson.title}}</h3>
						<p class="list-group-item" ng-repeat="video in lesson.videos">
							<span class="right-far">{{video.title}}</span><span class="text-muted"><em><small>({{video.duration}})</small></em></span>
						</p>
					</div><!-- /list-group -->
				</div><!-- /lessons-->

				<h1 class="title">Usuários que viram esse curso também viram</h1>
				<div class="row" ng-controller="enrolledCoursesCtrl">
					<div class="col-4 col-sm-4" ng-repeat="course in courses">
						<!-- card -->
						<a class="thumbnail card" href="#/course">
							<img ng-src="img/{{course.thumb}}" alt="{{course.title}}" />
							<div class="caption">
								<h3 class="title blue">{{course.title}}</h3>
								<h4 class="text-center orange">{{course.price}}</h4>
								<div class="text-center">
									<div class="star"></div>
								</div>
								<div class="top-near clearfix">
									<div title="Visualizações" class="extra-info-group pull-left">
										<i class="icon-eye-open smooth02 gray"></i>
										<span class="extra-info-value">10330</span>
									</div><!-- /visualization -->
									<div title="Alunos Inscritos" class="extra-info-group pull-right">
										<i class="icon-ok-circle smooth02 gray"></i>
										<span class="extra-info-value">1033</span>
									</div><!-- /enrolled students -->
								</div>
								<div class="progress progress-striped active">
									<div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="{{course.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{course.progress}}%">
										<span class='sr-only'>45% Complete</span>
									</div>
								</div>
							</div><!-- /caption -->
						</a><!-- /card -->
					</div><!-- /col -->
				</div><!-- /row -->
			
			</div>
		</div><!-- /content-main-->

		<!-- Side Content -->
		<div id="col" class="col-xs-12 col-sm-3 col-md-2 box box-white box-noborder has-tooltip">

            <ng-include src="'app/partials/groups-box.html'"></ng-include>
            <ng-include src="'app/partials/course-friends.html'"></ng-include>

			<h2 class="title title-padding top-far bg-purple em1-2">Autor</h2>
			<img src="img/pic-author-ID00001.jpg" alt="autor" />
			<h3 class="title em1-2">Rodielson Sousa de Souza</h3>
			<ul class="list-unstyled list-inline has-tooltip">
				<li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="informações"><i class="icon-info-sign icon-large"></i></a></li>
				<li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="perfil no facebook"><i class="icon-facebook icon-large"></i></a></li>
				<li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="perfil no twitter"><i class="icon-twitter icon-large"></i></a></li>
				<li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="perfil no linkedin"><i class="icon-linkedin icon-large"></i></a></li>
			</ul>

		</div><!-- /side-content -->


	<script>
		$('.earn-badge').click(function () {
			var el = $(this);

			if (!this.clicked) {
				this.clicked = true;
				triggerNoty(el);
			}
		});

		///Bootstrap ///
		//Tooltip
		$('.has-tooltip').tooltip({
			selector: "[data-toggle=tooltip]",
			container: "body"
		})

		///Raty///
		//Fake Ratings
		$('.star').raty({
			cancel: false,
			hints: ['péssimo', 'fraco', 'regular', 'bom', 'ótimo'],
			path: 'img/',
			readOnly: true,
			score: 3,
			space: false,
			width: false
		});

		var enableBtn = function (target) {
			$(target).removeAttr('disabled');
		}

    </script>