		<!-- Main Content Col -->
		<div id="content-main" class="col-xs-12 col-sm-9 col-md-10">
			<!-- <div class="fb-like pull-right clearfix" data-href="https://apps.facebook.com/izzuichannel/" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div> -->
			<div class="box box-white clearfix">
				<div class="pull-left">
					<img src="http://placehold.it/120x90" alt="course thumb" />
				</div>
				<div class="col-xs-12 col-sm-9 clearfix">
					<h1 class="title">Guerreiros em Ação: Dia 1</h1>
					<div class="progress progress-striped active">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
							<span class="sr-only">40% Complete</span>
						</div>
					</div><!-- /progress -->
					<p class="em7"><strong>4</strong> dos <strong>10</strong> vídeos foram marcados como assistidos.</p>
					<p class="em7">Sua avaliação do curso: <strong>3 estrelas</strong>. <a data-toggle="modal" href="#change-rating">atualizar avaliação</a></p>
				</div><!-- /col-sm-8 -->
			</div><!-- /box -->

			<h3>Lessons</h3>
			<div id="lessons" ng-controller="LessonsCtrl">
				<div class="list-group" ng-repeat="unit in units">
					<h4 class="list-group-item active">{{unit.unitTitle}}</h4>
					<a class="list-group-item clearfix" ng-repeat="lesson in unit.lessons" href="{{lesson.videoURL}}">
						<div class="pull-left right-far">
							<img src="http://placehold.it/74x42" alt="lesson thumb" />
							<div class="progress progress-striped active">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{lesson.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{lesson.progress}}%">
									<span class="sr-only">{{lesson.progress}}% Complete</span>
								</div>
							</div><!-- /progress -->
						</div>
						<p class="pull-left">{{lesson.title}}<br /><span class="text-muted"><em><small>{{lesson.videoLength}}</small></em></span></p>
					</a>
				</div><!-- /list-group -->
			</div><!-- /lessons-->

		</div><!-- /content-main-->

		<!-- Side Content -->
		<div id="" class="col-xs-12 col-sm-3 col-md-2">
			<div id="btn-icons-tt-container" class="btn-group btn-group-justified">
				<a class="btn btn-icon-default btn-half-width btn-ret" href="#" data-toggle="tooltip" title="Informações do curso">
					<i class="icon-info-sign icon-3x smooth006"></i>
					<!-- <span class="btn-half-width-label em7">info</span> -->
				</a>

				<a class="btn btn-icon-default btn-half-width btn-ret" href="#" data-toggle="tooltip" title="Alunos inscritos">
					<i class="icon-group icon-3x smooth006"></i>
					<!-- <span class="btn-half-width-label em7">alunos</span> -->
				</a>
			</div>
			<div class="btn-group btn-group-justified">
				<a class="btn btn-icon-default btn-half-width btn-ret" href="#" data-toggle="tooltip" data-placement="bottom" title="Compartilhar curso">
					<i class="icon-share-alt icon-3x smooth006"></i>
					<!-- <span class="btn-half-width-label em7">compartilhar</span> -->
				</a>

				<a class="btn btn-icon-default btn-half-width btn-ret" href="#" data-toggle="tooltip" data-placement="bottom" title="Convidar amigos">
					<i class="icon-comment-alt icon-3x smooth006"></i>
					<!-- <span class="btn-half-width-label em7">convidar</span> -->
				</a>
			</div>

			<h4 class="title bg-purple">Groups</h4>
			<ul class="list-unstyled list-inline">
				<li>
					<a href="#">Clientes - Rio de Janeiro</a><br />
					<span>93456 members</span>
				</li>
				<li>
					<a href="#">Clientes - São Paulo</a><br />
					<span>93566 members</span>
				</li>
				<li>
					<a href="#">Clientes - Bahia</a><br />
					<span>93 members</span>
				</li>
			</ul>

			<h4 class="">Amigos inscritos</h4>
			<ul class="list-unstyled list-inline">
				<li>
					<a href="#"><img src="http://placehold.it/32x32" alt="amigo inscrito" /></a>

				</li>
				<li>
					<a href="#"><img src="http://placehold.it/32x32" alt="amigo inscrito" /></a>

				</li>
				<li>
					<a href="#"><img src="http://placehold.it/32x32" alt="amigo inscrito" /></a>

				</li>
				<li>
					<a href="#"><img src="http://placehold.it/32x32" alt="amigo inscrito" /></a>

				</li>
				<li>
					<a href="#"><img src="http://placehold.it/32x32" alt="amigo inscrito" /></a>

				</li>
				<li>
					<a href="#"><img src="http://placehold.it/32x32" alt="amigo inscrito" /></a>

				</li>				
			</ul>
			<button class="btn btn-primary btn-block btn-sm">Convite mais amigos!</button>

			<h4 class="">Autor</h4>
			<img src="http://placehold.it/100x50" alt="autor" />
			<h5>Escola Vivo de Treinamento</h5>
			<ul class="list-unstyled list-inline">
				<li><a href="#"><i class="icon-info-sign"></i></a></li>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class="icon-linkedin"></i></a></li>
			</ul>

		</div><!-- /side-content -->

	<!-- modal-rating -->
	<div id="change-rating" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Atualiza avaliação" aria-hidden="true"
							aria-describedby="Esta é uma janela onde você poderá alterar a avaliação dada ao curso.">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Atualizar avaliação</h4>
				</div>
				<div class="modal-body">
					<p>Você deseja mudar a sua avaliação sobre o curso? Sem problemas!</p>
					<div class="rating text-center">
						<div class="star" data-score="1"></div>
						<p id="rating-hint" class="rating-hint em7"></p>
					</div>
				</div>
				<div class="modal-footer">
					<button id="btn-confirm-rating"type="button" class="btn btn-primary btn-sm btn-block" disabled="disabled" data-dismiss="modal">Save changes</button>
				</div>
			</div><!-- /modal-content -->
		</div><!-- /modal-dialog -->
	</div><!-- /modal-rating -->

	<script>
		///Raty///
		//Fake Ratings
		$('.star').raty({
			cancel: false,
			click: function () {
				enableBtn('#btn-confirm-rating');
			},
			hints: ['péssimo', 'fraco', 'regular', 'bom', 'ótimo'],
			path: 'img/',
			score: 3,
			size: 35,
			space: false,
			starHalf: 'star-half-biggest.png',
			starOff: 'star-off-biggest.png',
			starOn: 'star-on-biggest.png',
			target: '#rating-hint',
			targetKeep: true,
			targetText: " ",
			width: false
		});

		var enableBtn = function (target) {
			$(target).removeAttr('disabled');
		}
    </script>