<!-- Main Content Col -->
<div id="content-main" class="col-xs-12 col-sm-9 col-md-9" ng-controller="courseCtrl">
    <!-- <div class="fb-like pull-right clearfix" data-href="https://apps.facebook.com/izzuichannel/" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div> -->
    <div id="course-box" class="box box-white clearfix">
        <div class="pull-left">
            <img class="thumb" src="img/thumb-ID00001.jpg" alt="course thumb" />
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10 clearfix">
            <h1 class="title">{{course.title}}</h1>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">{{course.progress}}% Complete</span>
                </div>
            </div>
            <!-- /progress -->
            <p class="progress-label em7"><strong>4</strong> dos <strong>10</strong> vídeos foram marcados como assistidos.</p>
            <p class="em7 clearfix">
                <span class="right-near pull-left">Sua avaliação do curso: </span>
                <iz-raty class="star-course-{{course.id}} pull-left user-rating" score="course.rating" number="5"></iz-raty>
                <a class="pull-left" data-toggle="modal" data-target="#change-rating">atualizar avaliação</a>
            </p>
        </div>
        <!-- /col-sm-8 -->
    </div>
    <!-- /box -->
        <!-- modal-rating -->
    <div id="change-rating" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Atualiza avaliação" aria-hidden="true"
        aria-describedby="Esta é uma janela onde você poderá alterar a avaliação dada ao curso.">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Atualizar avaliação</h4>
                </div>
                <div class="modal-body">
                    <p>Você deseja mudar a sua avaliação sobre o curso? Sem problemas!</p>
                    <div class="rating text-center">
                        <iz-raty class="star-set" score="course.rating" readonly="false" number="5"></iz-raty>
                        <p id="rating-hint" class="rating-hint em7"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-confirm-rating" type="button" class="btn btn-primary btn-sm btn-block" data-dismiss="modal">OK!</button>
                </div>
            </div>
            <!-- /modal-content -->
        </div>
        <!-- /modal-dialog -->
    </div>
    <!-- /modal-rating -->


    <h3>Lessons</h3>
    <div id="lessons">
        <div class="list-group clearfix" ng-repeat="lesson in course.lessons">
            <h4 class="list-group-item active title">{{lesson.title}}</h4>
            <a class="list-group-item clearfix" ng-repeat="video in lesson.videos" ng-href="#/video/{{video.id}}">
                <div class="col-sm-3 col-md-2">
                    <img class="img-100" ng-src="{{video.thumb}}" />
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{video.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{video.progress}}%">
                            <span class="sr-only">{{video.progress}}% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-10">
                    <div><span class="right-mid bolder">{{video.title}}</span><span class="text-muted"><em><small>({{video.duration}})</small></em></span></div>
                    <p>{{video.description}}</p>

                </div>
            </a>
        </div>
    </div>
</div>
<!-- /content-main-->

<!-- Side Content -->
<div id="col" class="side-content col-xs-12 col-sm-3 col-md-3 box box-white box-noborder has-tooltip">

    <ng-include src="'app/partials/course-info.html'"></ng-include>
    <ng-include src="'app/partials/groups-box.html'"></ng-include>
    <ng-include src="'app/partials/course-friends.html'"></ng-include>

    <div class="col-box box box-white">
        <h2 class="title title-padding top-far bg-purple em1-2">Autor</h2>
        <img class="img-100" src="img/pic-author-ID00001.jpg" alt="autor" />
        <h3 class="em1-2">Rodielson Sousa</h3>
        <ul class="list-unstyled list-inline has-tooltip">
            <li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="informações"><i class="icon-info-sign icon-large"></i></a></li>
            <li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="perfil no facebook"><i class="icon-facebook icon-large"></i></a></li>
            <li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="perfil no twitter"><i class="icon-twitter icon-large"></i></a></li>
            <li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="perfil no linkedin"><i class="icon-linkedin icon-large"></i></a></li>
        </ul>
    </div>

</div>
<!-- /side-content -->



<script>

    ///Bootstrap ///
    //Tooltip
    $('.has-tooltip').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    })

    /////Raty///
    ////Fake Ratings
    //$('.star').raty({
    //    cancel: false,
    //    click: function () {
    //        enableBtn('#btn-confirm-rating');
    //    },
    //    hints: ['péssimo', 'fraco', 'regular', 'bom', 'ótimo'],
    //    path: 'img/',
    //    score: 3,
    //    size: 35,
    //    space: false,
    //    starHalf: 'star-half-biggest.png',
    //    starOff: 'star-off-biggest.png',
    //    starOn: 'star-on-biggest.png',
    //    target: '#rating-hint',
    //    targetKeep: true,
    //    targetText: " ",
    //    width: false
    //});

    ////User Rating
    //$('.user-rating').raty({
    //    cancel: false,
    //    hints: ['péssimo', 'fraco', 'regular', 'bom', 'ótimo'],
    //    path: 'img/',
    //    readOnly: true,
    //    score: 3,
    //    space: false,
    //    width: false
    //});




    var enableBtn = function (target) {
        $(target).removeAttr('disabled');
    }

</script>
