		<!-- Main Content Col -->
		<div id="content-main" class="col-xs-12 col-sm-9 col-md-10" ng-controller="coursesController">
			<!-- <div class="fb-like pull-right clearfix" data-href="https://apps.facebook.com/izzuichannel/" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div> -->
			<div id="course-box" class="box box-white clearfix">
				<div class="pull-left">
					<img class="thumb" src="img/thumb-ID00001.jpg" alt="course thumb" />
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 clearfix">
					<h1 class="title">Guerreiros em Ação: Dia 1</h1>
					<div class="progress progress-striped active">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
							<span class="sr-only">40% Complete</span>
						</div>
					</div><!-- /progress -->
					<p class="progress-label em7"><strong>4</strong> dos <strong>10</strong> vídeos foram marcados como assistidos.</p>
					<p class="em7">Sua avaliação do curso: <strong>3 estrelas</strong>. <a data-toggle="modal" href="#change-rating">atualizar avaliação</a></p>
				</div><!-- /col-sm-8 -->
			</div><!-- /box -->

			<h3>Lessons</h3>
			<div id="lessons" ng-controller="LessonsCtrl">
				<div class="list-group" ng-repeat="unit in units">
					<h4 class="list-group-item active title">{{unit.unitTitle}}</h4>
					<a class="list-group-item clearfix" ng-repeat="lesson in unit.lessons" href="{{lesson.videoURL}}">
						<div class="pull-left right-far">
							<img src="http://placehold.it/74x42" alt="lesson thumb" />
							<div class="progress progress-striped active">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{lesson.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{lesson.progress}}%">
									<span class="sr-only">{{lesson.progress}}% Complete</span>
								</div>
							</div><!-- /progress -->
						</div>
						<p class="pull-left">{{lesson.title}}<br /><span class="text-muted"><em><small>{{lesson.videoLength}}</small></em></span></p>
					</a>
				</div><!-- /list-group -->
			</div><!-- /lessons-->

		</div><!-- /content-main-->

		<!-- Side Content -->
		<div id="col" class="col-xs-12 col-sm-3 col-md-2 box box-white box-noborder has-tooltip">
            
            <!-- Course Info -->
            <ng-include src="'app/partials/course-info.html'"></ng-include>
            <ng-include src="'app/partials/groups-box.html'" />
            
			<h4 class="title title-padding top-far bg-purple em1-2">Amigos inscritos</h4>

			<ul class="list-unstyled list-inline friends-list has-tooltip" ng-controller="friendsCtrl">
				<li class="friends-item" ng-repeat="friend in friends">
					<a href="#" data-toggle="tooltip" data-placement="bottom" title="{{friend.name}}"><img ng-src="{{friend.picture.data.url}}" alt="amigo inscrito" /></a>
				</li>			
			</ul>
			<button class="btn btn-xxs em7 btn-default btn-block">Convite mais amigos!</button>

			<h4 class="title title-padding top-far bg-purple em1-2">Autor</h4>
			<img src="img/pic-author-ID00001.jpg" alt="autor" />
			<h5>Rodielson Sousa de Souza</h5>
			<ul class="list-unstyled list-inline has-tooltip">
				<li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="informações"><i class="icon-info-sign icon-large"></i></a></li>
				<li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="perfil no facebook"><i class="icon-facebook icon-large"></i></a></li>
				<li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="perfil no twitter"><i class="icon-twitter icon-large"></i></a></li>
				<li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="perfil no linkedin"><i class="icon-linkedin icon-large"></i></a></li>
			</ul>

		</div><!-- /side-content -->

	<!-- modal-rating -->
	<div id="change-rating" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Atualiza avaliação" aria-hidden="true"
							aria-describedby="Esta é uma janela onde você poderá alterar a avaliação dada ao curso.">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Atualizar avaliação</h4>
				</div>
				<div class="modal-body">
					<p>Você deseja mudar a sua avaliação sobre o curso? Sem problemas!</p>
					<div class="rating text-center">
						<div class="star" data-score="1"></div>
						<p id="rating-hint" class="rating-hint em7"></p>
					</div>
				</div>
				<div class="modal-footer">
					<button id="btn-confirm-rating"type="button" class="btn btn-primary btn-sm btn-block" disabled="disabled" data-dismiss="modal">Save changes</button>
				</div>
			</div><!-- /modal-content -->
		</div><!-- /modal-dialog -->
	</div><!-- /modal-rating -->

	<script>

		///Bootstrap ///
		//Tooltip
		$('.has-tooltip').tooltip({
			selector: "[data-toggle=tooltip]",
			container: "body"
		})

		///Raty///
		//Fake Ratings
		$('.star').raty({
			cancel: false,
			click: function () {
				enableBtn('#btn-confirm-rating');
			},
			hints: ['péssimo', 'fraco', 'regular', 'bom', 'ótimo'],
			path: 'img/',
			score: 3,
			size: 35,
			space: false,
			starHalf: 'star-half-biggest.png',
			starOff: 'star-off-biggest.png',
			starOn: 'star-on-biggest.png',
			target: '#rating-hint',
			targetKeep: true,
			targetText: " ",
			width: false
		});

		var enableBtn = function (target) {
			$(target).removeAttr('disabled');
		}

    </script>