<!-- Main Content Col -->
<div id="content-main" class="col-xs-12 col-sm-9 col-md-9">
    <!-- Enrolled Courses -->
    <h1 class="clearfix title"><i class="icon-check right-far purple"></i>Minhas Inscrições<a href="#" class="btn btn-link pull-right">ver todas</a></h1>
    <div iz-strip-courses ng-controller="enrolledCoursesCtrl"></div>

    <!-- Recent Added -->
    <h1 class="clearfix title"><i class="icon-asterisk right-far purple"></i>Lançamentos <a href="#" class="btn btn-link pull-right">ver todos</a></h1>
    <div iz-strip-courses ng-controller="recentCoursesCtrl"></div>

    <!-- Popular Courses -->
    <h1 class="clearfix title"><i class="icon-eye-open right-far purple"></i>Mais Vistos<a href="#" class="btn btn-link pull-right">ver todas</a></h1>
    <div iz-strip-courses ng-controller="popularCoursesCtrl"></div>
</div>
<!-- /content-main -->

<div class="side-content col-sm-3 col-md-3">
    <ng-include src="'app/partials/board.html'"></ng-include>
    <!-- /side-content -->
</div>
<script>
    //used for "Leaderboards" tabs

    $('#lb-tab a:first').tab('show');
    $('#lb-tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
</script>

