<div class="container">
	<div class="l-content-main col-sm-9 col-md-8 aired-v">
		
		<!-- Enrolled Courses -->
		<div class="heading-iconed clearfix">
			<h1 class="title clearfix"><i class="icon-check right-far"></i>My subscriptions</h1>
			<div class="pull-right">
				<a href="#" class="btn btn-link">see all</a>
			</div>
		</div>
		<div iz-strip-courses ng-controller="enrolledCoursesCtrl"></div>

		<!-- Recent Added -->
		<div class="heading-iconed clearfix">
			<h1 class="title clearfix"><i class="icon-asterisk right-far"></i>Lastest additions</h1>
			<div class="pull-right">
				 <a href="#" class="btn btn-link">see all</a>
			</div>
		</div>
		<div iz-strip-courses ng-controller="recentCoursesCtrl"></div>

		<!-- Popular Courses -->
		<div class="heading-iconed clearfix">
			<h1 class="title clearfix"><i class="icon-eye-open right-far"></i>Most popular</h1>
			<div class="pull-right">
				 <a href="#" class="btn btn-link">see all</a>
			</div>
		</div>
		<div iz-strip-courses ng-controller="popularCoursesCtrl"></div>
	</div>
	<!-- /l-content-main -->


	<div class="l-content-side col-sm-3 col-md-push-1 aired-v">
		<ng-include src="'app/partials/board.html'"></ng-include>
		<iz-badges></iz-badges>
	</div><!-- /l-content-side -->
</div>
<script>
    //used for "Leaderboards" tabs

    $('#lb-tab a:first').tab('show');
    $('#lb-tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
</script>

