<div class="l-page-header topic-header">
	<div class="container col-sm-12 clearfix">
		<!--
		<span class="thumb pull-left">
			<i class="icon-th-large icon-4x shadow-fx-text"></i>
		</span>
		-->
		<div class="header-info user-info shadow-fx-text pull-left">
			<h1 class="header-title">Administrative Support Training</h1>
		</div>
		<a class="btn btn-primary has-tooltip pull-right top-near visible-md visible-lg" data-toogle="tooltip" title="By following this topic, you agree to receive Facebook notifications and e-mails about it.">follow</a>
		<!--
		<div class="header-extras pull-left">
		</div>
		-->
	</div>
</div><!-- /l-page-header -->

<div class="l-content aired-v arrow-box">
	<div class="container">
		<div class="l-content-main">
			<!--
			<div class="alert">
				<div iz-strip-courses ng-controller="enrolledCoursesCtrl"></div>
			</div>
			-->
			<div class="filters box clearfix">
				<div class="filter-group clearfix">
					<span class="filter-label filter-label-xs">Language</span>
					<div class="filter-options clearfix">
						<span class="dropdown-choice dropdown-choice-xs">English</span>
						<a href="#" class="btn btn-default btn-xs dropdown-toggle pull-left" data-toggle="dropdown">
								<span class="caret"></span>
						</a>
						<ul class="dropdown-menu pull-right" role="menu">
							<li class="disabled"><a href="#">English</a></li>
							<li><a href="#">Português</a></li>
							<li><a href="#">Español</a></li>
						</ul>
					</div>
				</div><!-- /filter-group -->
				<div class="filter-group clearfix">
					<span class="filter-label filter-label-xs">Subscription</span>
					<form role="form" class="filter-options clearfix">
						<div class="filter-form-group">
							<label class="checkbox-inline">
								<input checked type="checkbox">free
							</label>
						</div>
						<div class="filter-form-group">
							<label class="checkbox-inline">
								<input checked type="checkbox">paid
							</label>
						</div>
					</form>
				</div><!-- /filter-group -->
				<div class="filter-group visible-lg clearfix">
					<span class="filter-label filter-label-xs">Order by</span>
					<div class="filter-options clearfix">
						<span class="dropdown-choice dropdown-choice-xs">Alphabetical order</span>
						<a href="#" class="btn btn-default btn-xs dropdown-toggle pull-left" data-toggle="dropdown">
								<span class="caret"></span>
						</a>
						<ul class="dropdown-menu pull-left" role="menu">
							<li class="disabled"><a href="#">Alphabetical order</a></li>
							<li><a href="#">Publish date</a></li>
							<li><a href="#">Views</a></li>
						</ul>
					</div>
				</div><!-- /filter-group -->
				<div class="alert alert-info alert-smaller nomargin-bottom pull-right">
					<span class="bolder right-mid">44895</span><span>courses found</span>
				</div>
			</div><!-- /filters -->

			<div class="heading-iconed hidden-lg clearfix">
				<div class="btn-group pull-right">
					<a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">order by <span class="caret"></span></a>
					<ul class="dropdown-menu pull-right" role="menu">
						<li class="disabled"><a href="#">Alphabetical order</a></li>
						<li><a href="#">Publish date</a></li>
						<li><a href="#">Views</a></li>
					</ul>
				</div><!-- /btn-group -->
			</div>

			<div iz-strip-courses ng-controller="enrolledCoursesCtrl"></div>
			<div iz-strip-courses ng-controller="enrolledCoursesCtrl"></div>
			<div iz-strip-courses ng-controller="enrolledCoursesCtrl"></div>

		</div><!-- /l-content-main -->
	</div><!-- /container -->
</div><!-- /l-content -->
<script>
	$('input[type=file]').bootstrapFileInput();
	$('.file-inputs').bootstrapFileInput();

	$('.has-tooltip').tooltip({
		selector: "[data-toggle=tooltip]"
	})
</script>

