<div class="l-page-header user-dashboard">
	<div class="container col-sm-12 clearfix">
		<a class="pull-left"><img class="thumbnail" src="http://placehold.it/70" alt="You!"/></a>
		<div class="user-info pull-left">
			<h1 class="title em1-8">Vicente Sarmento</h1>
			<p class="lvl-actual em7 top-near">
				<span class="right-far">Nível: <strong>15</strong></span>
				<span>Pontos: <strong>665423</strong></span>
			</p>
			<div class="progress">
				<div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
					<span class="sr-only">45% Complete</span>
				</div>
			</div>
			<p class="progress-label em7">faltam <strong>29867 pontos</strong> para o próximo nível</p>
		</div>
		<ul class="user-stats list-unstyled list-inline pull-left">
			<li class="user-stats-item">
				<span class="user-stats-number">2</span>
				<span class="user-stats-type"><a>troféus</a></span>
			</li>
			<li class="user-stats-item">
				<span class="user-stats-number">14</span>
				<span class="user-stats-type"><a>inscrições</a></span>
			</li>
			<li class="user-stats-item">
				<span class="user-stats-number">200</span>
				<span class="user-stats-type"><a>amigos no Izzui</a></span>
			</li>

		</ul>
	</div>
</div>
<div class="l-content-side aired-v">
	<div class="col-sm-3">
		<ul class="side-menu nav nav-pills nav-stacked">
			<li class="active"><a href="#!/user/">Resumo</a></li>
			<li><a>Minhas Inscrições</a></li>
			<li><a>Leaderboard</a></li>
		</ul>
	</div>
	<!-- /l-content-side -->

	<div class="l-content-main col-sm-9">
		<!-- Enrolled Courses -->
		<h1 class="title em1-8 clearfix"><i class="icon-check right-far purple"></i>Minhas Inscrições<a href="#" class="btn btn-link pull-right">ver todas</a></h1>
		<div iz-strip-courses ng-controller="enrolledCoursesCtrl"></div>

		<!-- Recent Added -->
		<h1 class="title em1-8 clearfix"><i class="icon-asterisk right-far purple"></i>Lançamentos <a href="#" class="btn btn-link pull-right">ver todos</a></h1>
		<div iz-strip-courses ng-controller="recentCoursesCtrl"></div>

		<!-- Popular Courses -->
		<h1 class="title em1-8 clearfix"><i class="icon-eye-open right-far purple"></i>Mais Vistos<a href="#" class="btn btn-link pull-right">ver todas</a></h1>
		<div iz-strip-courses ng-controller="popularCoursesCtrl"></div>
	</div>
	<!-- /l-content-main -->
</div>

<script>
    //used for "Leaderboards" tabs

    $('#lb-tab a:first').tab('show');
    $('#lb-tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
</script>

