<div class="l-page-header user-header aired-v">
	<div class="container col-sm-12 clearfix">
		<a class="pull-left">
			<img class="user-thumb thumbnail" src="img/pic-you.jpg" alt="You!"/>
		</a>
		<div class="header-info user-info pull-left">
			<h1 class="header-title nomargin-top">Hilda Dias</h1>

			<p class="lvl-actual em7 top-near">
				<span class="right-far">Nível: <strong>15</strong></span>
				<span>Pontos: <strong>665423</strong></span>
			</p>
			<div class="progress closer">
				<div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
					<span class="sr-only">45% Completo</span>
				</div>
			</div>
			<p class="progress-label em7">precisa de mais <strong>29867 pontos</strong> para suvbir de nível</p>
		</div>

		<ul class="header-extras user-stats list-unstyled list-inline pull-left">
			<li class="user-stats-item">
				<a>
					<span class="user-stats-number">2</span>
					<span class="user-stats-type">troféus</span>
				</a>
			</li>
			<li class="user-stats-item">
				<a>
					<span class="user-stats-number">14</span>
					<span class="user-stats-type">inscrições</span>
				</a>
			</li>
			<li class="user-stats-item">
				<a>
					<span class="user-stats-number">200</span>
					<span class="user-stats-type">amigos no Izzui</span>
				</a>
			</li>

		</ul>
	</div>
</div><!-- /l-page-header -->


<div class="container aired-v">
	<div class="l-content-side">
		<div class="col-sm-3">
			<ul id="userMenu" class="nav nav-stacked menu">
				<li class="active"><a onClick="changeContent('#mySubs')">Suas inscrições</a></li>
				<li><a onClick="changeContent('#recommended')">Cursos recomendados</a></li>
				<!-- <li><a>Seus troféus</a></li> -->
				<li><a onClick="changeContent('#leaderboard')">Quadro de líderes</a></li>
				<li><a onClick="changeContent('#information')">Suas informações</a></li>
				<li><a onClick="changeContent('#picture')">Sua foto</a></li>
				<li><a onClick="changeContent('#friends')">Seus amigos</a></li>
				<li><a onClick="changeContent('#permissions')">Permissões</a></li>
			</ul>
		</div>
	</div><!-- /l-content-side -->

	<div class="l-content-main col-sm-9">
		<div id="contentHolder">
			<div class="heading-iconed clearfix">
				<h2><i class="icon-check right-far"></i>Suas inscrições</h2>
				<div class="btn-group pull-right">
					<a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">ordenar por <span class="caret"></span></a>
					<ul class="dropdown-menu pull-right" role="menu">
						<li><a href="#">Progresso</a></li>
						<li><a href="#">Ordem alfabética</a></li>
						<li><a href="#">Data de início</a></li>
						<li><a href="#">Último acesso</a></li>
					</ul>
				</div><!-- /btn-group -->
			</div>
			<div iz-strip-courses ng-controller="enrolledCoursesCtrl"></div>
			<div class="container text-center top-near">
				<ul class="pagination">
					<li class="disabled"><a href="#">&laquo;</a></li>
					<li class="active"><a href="#">1 <span class="sr-only">(atual)</span></a></li>
					<li class=""><a href="#">2</a></li>
					<li class=""><a href="#">3</a></li>
					<li class=""><a href="#">4</a></li>
					<li class=""><a href="#">5</a></li>
					<li><a href="#">&raquo;</a></li>
				</ul>
			</div>
		</div>
		<div class="hide">
			<div id="mySubs">
				<div class="heading-iconed clearfix">
					<h2><i class="icon-check right-far"></i>Suas inscrições</h2>
					<div class="btn-group pull-right">
						<a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">ordenar por <span class="caret"></span></a>
						<ul class="dropdown-menu pull-right" role="menu">
						<li><a href="#">Progresso</a></li>
						<li><a href="#">Ordem alfabética</a></li>
						<li><a href="#">Data de início</a></li>
						<li><a href="#">Último de acesso</a></li>
						</ul>
					</div><!-- /btn-group -->
				</div>
				<div iz-strip-courses ng-controller="enrolledCoursesCtrl"></div>
				<div class="container text-center top-near">
					<ul class="pagination">
						<li class="disabled"><a href="#">&laquo;</a></li>
						<li class="active"><a href="#">1 <span class="sr-only">(atual)</span></a></li>
						<li class=""><a href="#">2</a></li>
						<li class=""><a href="#">3</a></li>
						<li class=""><a href="#">4</a></li>
						<li class=""><a href="#">5</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>
			</div>
			<div id="recommended">
				<div class="heading-iconed clearfix">
					<h2><i class="icon-check right-far"></i>Cursos recomendados</h2>
					<div class="btn-group pull-right">
						<a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">ordenar por <span class="caret"></span></a>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a href="#">Ordem alfabética</a></li>
							<li><a href="#">Avaliação</a></li>
							<li><a href="#">Inscrições</a></li>
							<li><a href="#">Visualizações</a></li>
						</ul>
					</div><!-- /btn-group -->
				</div>
				<div iz-strip-courses ng-controller="popularCoursesCtrl"></div>
				<div class="container text-center top-near">
					<ul class="pagination">
						<li class="disabled"><a href="#">&laquo;</a></li>
						<li class="active"><a href="#">1 <span class="sr-only">(atual)</span></a></li>
						<li class=""><a href="#">2</a></li>
						<li class=""><a href="#">3</a></li>
						<li class=""><a href="#">4</a></li>
						<li class=""><a href="#">5</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>		
			</div>
			<div id="leaderboard">
				<div ng-controller="boardsCtrl" iz-spinner hide-spinner="board">
					<div class="heading-iconed clearfix">
						<h2>
							<i class="icon-flag-checkered right-far"></i>Quadro de líderes
						</h2>
						<span class="pull-right btn-group">
							<a class="btn btn-default btn-xs" ng-click="boardLastMonth(true)" data-toggle="tab">Mês</a>
							<a class="btn btn-default btn-xs" ng-click="boardLastMonth(false)" data-toggle="tab">Geral</a>
						</span>
					</div>
					<div class="leaderboard box bordered top-near">
						<div class="box-content tab-content">
							<div class="tab-pane active">
								<table class="table table-condensed table-striped em9">
									<thead>
										<tr>
											<th colspan="3" class="dropdown clearfix">
												<button type="button" class="btn btn-link btn-xxs em1 dropdown-toggle pull-right" data-toggle="dropdown">Pontos<span class="caret mid"></span></button>
												<ul class="em1 dropdown-menu pull-right">
													<li><a href="#">Troféus</a></li>
													<li><a href="#">Amigos</a></li>
													<li><a href="#">Cursos completos</a></li>
												</ul>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr class="warning">
											<td class="text-center lb-pos"><strong>1</strong></td>
											<td class="">
												<img class="user-thumb right-mid" src="img/pic-you.jpg" alt="You :)" /><strong>Você</strong></td>
											<td class="text-right"><strong>1000</strong></td>
										</tr>
										<tr ng-repeat="user in board">
											<td class="text-center lb-pos">{{$index + 2}}</td>
											<td class="">
												<img class="right-mid" ng-src="img/{{user.thumb}}" alt="{{user.username}}" />{{user.username | firstNameFtr}}</td>
											<td class="text-right">{{user.score}}</td>
										</tr>
									</tbody>
								</table>
							</div><!-- /weekly -->
						</div><!-- /tab-content -->
					</div><!-- /box -->
				</div>
			</div>
			<div id="information">
				<div class="heading-iconed clearfix">
					<h2><i class="icon-info-sign right-far"></i>suas informações</h2>
				</div>
				<form role="form">
					<fieldset>
						<legend>Básicas</legend>
						<div class="form-group">
							<label for="name" class="control-label">Nome</label>
							<input type="text" class="form-control" id="name" placeholder="Nome">
						</div>
						<div class="form-group">
							<label for="bio" class="control-label">Bio</label>
							<textarea class="form-control" id="bio" placeholder="Bio" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label for="language">Idioma</label>
							<select id="language" class="form-control">
								<option>Português</option>
								<option>English</option>
								<option>Español</option>
							</select>
						</div>
					</fieldset>
					<fieldset>
						<legend>Links</legend>
						<div class="form-group">
							<label for="blog" class="control-label">Blog</label>
							<input type="text" class="form-control" id="blog" placeholder="Endereço do blog">
						</div>
						<div class="form-group">
							<label for="twitter" class="control-label">Twitter</label>
							<input type="text" class="form-control" id="twitter" placeholder="Perfil do Twitter">
						</div>
						<div class="form-group">
							<label for="g-plus" class="control-label">Google +</label>
							<input type="text" class="form-control" id="g-plus" placeholder="Perfil do Google+">
						</div>
						<div class="form-group">
							<label for="linkedin" class="control-label">Linkedin</label>
							<input type="text" class="form-control" id="linkedin" placeholder="Perfil do Linkedin">
						</div>
					</fieldset>
					<button class="btn btn-primary disabled">Salvar</button>
				</form>
			</div>
			<div id="picture">
				<div class="heading-iconed clearfix">
					<h2><i class="icon-picture right-far"></i>Foto do perfil</h2>
				</div>
				<form role="form">
					<div class="form-group">
						<label>Foto atual</label>
						<img class="thumbnail" src="img/pic-you.jpg" alt="You :)" />
					</div>
					<div class="form-group">
						<input type="file" id="select-picture" class="btn btn-primary" title="Mudar sua foto">
					</div>
				</form>
			</div>
			<div id="friends">
				<div class="heading-iconed clearfix">
					<h2><i class="icon-group right-far"></i>Seus amigos</h2>
					<button class="btn btn-default btn-xs btn-heading pull-right" onclick="FacebookRequest()">Convide mais amigos!</button>
				</div>
				<ul class="list-unstyled friends-list clearfix" ng-controller="friendsCtrl">
					<li class="col-sm-3 friends-item" ng-repeat="friend in friends">
						<a class="card card-primary card-friend clearfix">
							<div class="card-header clearfix">
								<img class="card-thumb img-responsive" ng-src="{{friend.picture.data.url}}" alt="{{friend.name}}" />
								<div class="card-subject">
									<span class="name">{{friend.name | firstNameFtr}}</span>
									<span class="lvl-points lvl em7">Nível 999</span>
									<span class="lvl-points points em7">29843546347 pontos</span>
								</div>
							</div>
							<ul class="card-body list-unstyled list-inline list-justified">
								<li class="clearfix">
									<i class="icon-trophy right-near pull-left"></i>
									<span class="pull-left em7">12</span>
								</li>
								<li class="clearfix">
									<i class="icon-group right-near pull-left"></i>
									<span class="pull-left em7">154</span>
								</li>
								<li class="clearfix">
									<i class="icon-ok-circle right-near pull-left"></i>
									<span class="pull-left em7">60</span>
								</li>
							</ul><!-- /card-body -->
						</a><!-- /card -->
					</li>
				</ul>
				<div class="container text-center top-near">
					<ul class="pagination">
						<li class="disabled"><a href="#">&laquo;</a></li>
						<li class="active"><a href="#">1 <span class="sr-only">(atual)</span></a></li>
						<li class=""><a href="#">2</a></li>
						<li class=""><a href="#">3</a></li>
						<li class=""><a href="#">4</a></li>
						<li class=""><a href="#">5</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>			
			</div>
			<div id="permissions">
				<div class="heading-iconed clearfix">
					<h2><i class="icon-thumbs-up-alt right-far"></i>Permissões</h2>
				</div>
				<form role="form">
					<fieldset>
						<legend>Perfil</legend>
						<ul class="form-group list-group">
							<li class="list-group-item clearfix">
								<span class="item-label pull-left">Outros usuários podem ver em que cursos fiz inscrição.</span>
								<input type="checkbox" id="Checkbox8" class="switch" checked=""><label class="pull-right nomargin" for="Checkbox8"></label>
							</li>
							<li class="list-group-item clearfix">
								<span class="item-label pull-left">Outros usuários podem ver os troféus que conquistei.</span>
								<input type="checkbox" id="Checkbox9" class="switch" checked=""><label class="pull-right nomargin" for="Checkbox9"></label>
							</li>
						</ul>
					</fieldset>
					<fieldset>
						<legend>Compartilhamento</legend>
						<ul class="form-group list-group">
							<li class="list-group-item clearfix">
								<span class="item-label pull-left">Compartilhar em sua linha do tempo quando eu avaliar um curso.</span>
								<input type="checkbox" id="Checkbox2" class="switch" checked=""><label class="pull-right nomargin" for="Checkbox2"></label>
							</li>
							<li class="list-group-item clearfix">
								<span class="item-label pull-left">Compartilhe em sua linha do tempo quando eu fizer uma nova inscrição.</span>
								<input type="checkbox" id="Checkbox3" class="switch" checked=""><label class="pull-right nomargin" for="Checkbox3"></label>
							</li>
							<li class="list-group-item clearfix">
								<span class="item-label pull-left">Compartilhe em sua linha do tempo quando eu concluir um curso.</span>
								<input type="checkbox" id="Checkbox4" class="switch" checked=""><label class="pull-right nomargin" for="Checkbox4"></label>
							</li>
							<li class="list-group-item clearfix">
								<span class="item-label pull-left">Compartilhe em sua linha do tempo quando eu conquistar um novo troféu.</span>
								<input type="checkbox" id="Checkbox6" class="switch" checked=""><label class="pull-right nomargin" for="Checkbox6"></label>
							</li>
							<li class="list-group-item clearfix">
								<span class="item-label pull-left">Compartilhe em sua linha do tempo quando eu subir de nível.</span>
								<input type="checkbox" id="Checkbox7" class="switch" checked=""><label class="pull-right nomargin" for="Checkbox7"></label>
							</li>
						</ul>
					</fieldset>
				</form>
			</div>
		</div>
	</div><!-- /l-content-main -->
</div>
<script>
	function changeContent(target) {
		var targetContent = $(target).html();
		$("#contentHolder").html(targetContent);
	}

	function selectInList(obj) {
		$("#userMenu").children("li").removeClass("active");
		$(obj).addClass("active");
	}

	$(document).ready(function () {
		$('input[type=file]').bootstrapFileInput();
		$('.file-inputs').bootstrapFileInput();

		$('.has-tooltip').tooltip({
			selector: "[data-toggle=tooltip]"
		})

		$("#userMenu").children("li").click(function () {
			selectInList(this)
		});
	});
</script>

