<div class="container aired-v">
	<div class="l-content-main col-sm-9" ng-controller="videoCtrl">
		<div class="shadow-fx-box">
			<div class="box aired">
				<div class="clearfix">
					<h1 class="title em1-8 pull-left">{{video.title}}</h1>
					<div class="top-near pull-right">
						<fb:like fb-like href="http://matrichannel.elasticbeanstalk.com/#!/video/{{video.id}}" width="450" layout="button_count" show_faces="false" send="false"></fb:like>
					</div>
				</div>
				<video iz-videoplayer id="" height="360" width="100%"
					   videodata="{{video}}" class="video-js vjs-default-skin {{video.type}} top-near"
					   data-setup="asdsad">
				</video>
				<div class="row top-near clearfix">
					<div class="col-sm-7 col-md-8">
						<div class="progress progress-striped active">
							<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
								<span class='sr-only'>{{progress}}% concluído</span>
							</div>
						</div>
						<p class="progress-label em7"><strong>{{video.videosCompleted}}</strong> de <strong>{{video.videosCount}}</strong> vídeos foram marcados como vistos.</p>
					</div>
					<div class="col-sm-5 col-md-4 clearfix">
						<span ng-switch on="nextId">
							<a class="btn btn-primary btn-xs pull-right" disabled ng-switch-when="null" >Próximo</a>
							<a class="btn btn-primary btn-xs pull-right" ng-switch-default href="#!/video/{{video.nextId}}">Próximo</a>
						</span>
						<span ng-switch on="previousId">
							<a class="btn btn-primary btn-xs pull-right right-far" disabled ng-switch-when="null">Anterior</a>
							<a class="btn btn-primary btn-xs pull-right right-far" ng-switch-default href="#!/video/{{video.previousId}}">Anterior</a>
						</span>
					</div>
				</div><!-- /progresso e navegação -->
			</div><!-- /box aired -->
		</div><!-- /shadow-fx-box -->
		<div class="fb-commments-container top-near">
			<fb:comments  fb-comments href="http://matrixchannel.elasticbeanstalk.com/#!/video/{{video.id}}"></fb:comments>
		</div>
	</div><!-- /l-content-main -->
	
	<div class="l-content-side nopad-h col-sm-3">
		<div class="shadow-fx-box">
			<div class="box has-tooltip" ng-controller="groupsCtrl">
				<div class="box-content btn-group btn-group-justified em9">
					<a class="btn btn-group-item btn-icon-default" data-target="#modalCourseInfo" data-toggle="modal">
						<i class="icon-ok icon-2x" data-toggle="tooltip" data-placement="bottom" title="lição marcada como vista"></i>
					</a>
					<a href="#" class="btn btn-group-item btn-icon-default"
					onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(location.href), 
							'facebook-share-dialog', 'width=626,height=436'); return false;">
						<i class="icon-share-alt icon-2x" data-toggle="tooltip" data-placement="bottom"  title="compartilhe essa lição"></i>
					</a>
				</div>
			</div>
		</div>

		<ul id="lessons-tabs" class="nav nav-tabs nav-justified top-far">
			<li class="active">	<a data-toggle="tab" data-target="#tab-downloads">	<i class="icon-download-alt icon-large" data-toggle="tooltip" title="downloads"></i></a></li>
			<li>				<a data-toggle="tab" data-target="#tab-notes">		<i class="icon-book icon-large" data-toggle="tooltip" title="suas anotações"></i></a></li>
		</ul>
		<div class="box box-tab-content">
			<div id="lessons-tabs-content" class="box-content tab-content">
				<div id="tab-downloads" class="tab-pane fade in active aired">
					<ul class="list-unstyled em7">
						<li><a>Infográfico sobre habilidades pessoais</a></li>
						<li class="top-near"><a>Todo o conteúdo (versão para impressão)</a></li>
					</ul>
					<div class="text-center">
						<button class="btn btn-primary btn-xxs btn-block em7 top-near">Download de tudo</button>
					</div>
				</div><!-- /tab-downloads -->

				<div id="tab-notes" class="tab-pane fade in aired" ng-controller="notesCtrl">
					<div>
						<textarea class="form-control em7" rows="3" ng-model="note"></textarea>
						<button type="button" class="btn btn-primary btn-xxs btn-block em7 top-near" ng-click="add(note);">Incluir</button>
					</div>
					<ul class="list-unstyled em7 top-near" ng-repeat="x in notes">
						<li class="clearfix"><span class="right-far">{{x}}</span><i class="icon-remove pull-right" ng-click="remove($index)"></i></li>		
					</ul>
				</div>
			</div><!-- /box-content -->
		</div><!-- /box -->
	</div><!-- /l-content-side -->
</div>
<script>
	$('.has-tooltip').tooltip({
		selector: "[data-toggle=tooltip]"
	})

	$('#lessons-tabs a:first').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	})
</script>
