<div ng-controller="videoCtrl">
	<div class="col-md-10">
		<div class="clearfix">
			<div style="float: right">
				<fb:like fb-like href="http://local-learningchannel.izzui.com/#/video/{{video.id}}" width="450" layout="button_count" show_faces="false" send="false"></fb:like>
			</div>
		</div>
		<div class="box box-white">
			<div class="top-near">{{video.title}}<br />
			</div>
			<video iz-videoplayer id=""
			       videodata="{{video}}" class="video-js vjs-default-skin {{video.type}} top-near"
			       data-setup="asdsad">
			</video>
			<div class="top-near clearfix">
				<div class="col-md-7 row">
					<div class="progress progress-striped active">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
							<span class='sr-only'>{{progress}}% concluídos</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 row" style="border: solid 1px black">
					<span ng-switch on="previousId">
						<a class="btn btn-default" disabled ng-switch-when="null">Lição anterior</a>
						<a class="btn btn-primary" ng-switch-default href="#/video/{{video.previousId}}">Previous chapter</a>
					</span>
					<span ng-switch on="nextId">
						<a class="btn btn-default" disabled ng-switch-when="null" >Next chapter</a>
						<a class="btn btn-primary" ng-switch-default href="#/video/{{video.nextId}}">Next Chapter</a>
					</span>
				</div>
			</div>
		</div>
		<div class="top-near">
			<fb:comments fb-comments href="http://local-learningchannel.izzui.com/#/video/{{video.id}}"></fb:comments>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
