<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//PT-BR" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pt-br" ng-app="izzuiApp">
<head>
	<meta charset="iso-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Izzui - Learning Channel</title>

    <!-- icons -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
		
	<!-- bootstrap core CSS -->	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	
	<!-- demo-izzui -->
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Share:400,400italic,700,700italic"><!-- outros textos -->
	<link rel="stylesheet" type="text/css" href="css/demo-izzui.css">

	<!-- client's theme -->
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Enriqueta:400,700&subset=latin,latin-ext'> <!-- tipografia para a marca e títulos -->
	<link rel="stylesheet" type="text/css" href="css/vivo-theme.css">

	<!-- Basics -->
	<script type="text/javascript" src="scripts/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="scripts/bootstrap.js"></script>
	<script type="text/javascript" src="scripts/enquire.js"></script>
	<script type="text/javascript" src="scripts/angular.js"></script>
	<script type="text/javascript" src="scripts/angular-cookies.js"></script>
	<script type="text/javascript" src="scripts/jquery.raty.min.js"></script>
	

   
	<!-- Our app -->
	<script type="text/javascript" src="app/enquire-init.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/controllers/boardsController.js"></script>
	<script type="text/javascript" src="app/controllers/coursesController.js"></script>
	<script type="text/javascript" src="app/controllers/EnrolledCoursesCtrl.js"></script>
	<script type="text/javascript" src="app/controllers/friendsCtrl.js"></script>
	<script type="text/javascript" src="app/controllers/LeaderboardCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/LessonsCtrl.js"></script>
	<script type="text/javascript" src="app/controllers/RecentAddedCoursesCtrl.js"></script>
	<script type="text/javascript" src="app/controllers/topicsController.js"></script>
	<script type="text/javascript" src="app/services/boardsService.js"></script>
	<script type="text/javascript" src="app/services/coursesService.js"></script>
	<script type="text/javascript" src="app/services/facebookService.js"></script>
	<script type="text/javascript" src="app/services/topicsService.js"></script>
    <script src="~/app/controllers/groupsCtrl.js"></script>
</head>

<body>
    <div id="fb-root"></div>
	<script type="text/javascript" src="app/fb-init.js"></script>

	<ng-include src="'app/partials/header.html'"></ng-include>
	<div class="content container aired-v" ng-view></div>
	<ng-include src="'app/partials/footer.html'"></ng-include>

 @* <script>
  	function fbCtrl($scope, facebookService) {
  	    facebookService.getGroups().success(function (data) {
  	        console.log(data);
  	        $scope.groups = data.data;
  	    });
  	}
  </script>

	<div ng-controller="fbCtrl">
        <button class="btn">Novo Grupo</button>
        <ul ng-repeat="group in groups">
            <li>{{group.name}}</li>
        </ul>
	</div>*@
</body>
</html>
