<!DOCTYPE html>
<html lang="pt-br" ng-app="izzuiApp" xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta name="fragment" content="!">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="Video Title" />
	<meta property="og:image" content="http://img.youtube.com/vi/zm7jA9AhwN8/2.jpg" />
	<meta property="og:description" content="Video Description" />
	<title>Izzui - Learning Channel</title>

	<!-- icons -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
		
	<!-- bootstrap core CSS -->	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	
	<!-- demo-izzui -->
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Share:400,400italic,700,700italic"><!-- outros textos -->
	<link rel="stylesheet" type="text/css" href="css/demo-izzui.css">

	<!-- client's theme -->
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Enriqueta:400,700&subset=latin,latin-ext'> <!-- tipografia para a marca e títulos -->
	<link rel="stylesheet" type="text/css" href="css/vivo-theme.css">

	<!-- Basics -->
	<script type="text/javascript" src="scripts/underscore.js"></script>
	<script type="text/javascript" src="scripts/underscore.string.js"></script>
	<script type="text/javascript" src="scripts/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="scripts/bootstrap.js"></script>
	<script type="text/javascript" src="scripts/enquire.js"></script>
	<script type="text/javascript" src="scripts/angular.js"></script>
	<script type="text/javascript" src="scripts/angular-cookies.js"></script>
	<script type="text/javascript" src="scripts/jquery.raty.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.noty.js"></script>
	<script type="text/javascript" src="scripts/layouts/bottomRight.js"></script>
	<script type="text/javascript" src="scripts/layouts/topCenter.js"></script>
	<script type="text/javascript" src="scripts/themes/default.js"></script>
	<script type="text/javascript" src="scripts/spin.min.js"></script>
	
	<!-- Our app -->
	<script type="text/javascript" src="app/enquire-init.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/services/notificationService.js"></script>
	<script type="text/javascript" src="app/services/coursesService.js"></script>
	<script type="text/javascript" src="app/services/boardsService.js"></script>
	<script type="text/javascript" src="app/services/facebookService.js"></script>
	<script type="text/javascript" src="app/services/topicsService.js"></script>
	<script type="text/javascript" src="app/controllers/boardsCtrl.js"></script>
	<script type="text/javascript" src="app/controllers/courseCtrl.js"></script>
	<script type="text/javascript" src="app/controllers/enrolledCoursesCtrl.js"></script>
	<script type="text/javascript" src="app/controllers/friendsCtrl.js"></script>
	<script type="text/javascript" src="app/controllers/recentCoursesCtrl.js"></script>
	<script type="text/javascript" src="app/controllers/videoCtrl.js"></script>
	<script type="text/javascript" src="app/services/boardsService.js"></script>
	<script type="text/javascript" src="app/services/coursesService.js"></script>
	<script type="text/javascript" src="app/services/facebookService.js"></script>
	<script type="text/javascript" src="app/services/topicsService.js"></script>
	<script type="text/javascript" src="app/services/videoSvc.js"></script>
	<script type="text/javascript" src="app/directives/iz-videoPlayer.js"></script>
	<script src="~/app/controllers/popularCoursesCtrl.js"></script>
	<script type="text/javascript" src="app/directives/iz-topics.js"></script>
	<script type="text/javascript" src="app/directives/iz-user.js"></script>
	<script src="~/app/filters/firstNameFtr.js"></script>
	<script src="~/app/controllers/groupsCtrl.js"></script>
	<script type="text/javascript" src="app/directives/iz-fbLike.js"></script>
	<script src="~/app/directives/iz-spinner.js"></script>
	<script type="text/javascript" src="app/directives/iz-fbComments.js"></script>
	<script type="text/javascript" src="app/controllers/notesCtrl.js"></script>
	<script type="text/javascript" src="app/directives/iz-badges.js"></script>
	<script src="~/app/directives/iz-raty.js"></script>
	<script type="text/javascript" src="app/directives/iz-gPlus.js"></script>
	<!-- videojs -->
	<link href="/css/video-js.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="/scripts/video.js"></script>
	<script type="text/javascript" src="/scripts/vjs.youtube.js"></script>
	<script type="text/javascript" src="/scripts/vjs.vimeo.js"></script>
    <script src="~/app/directives/iz-courseCard.js"></script>
	<!--GooglePlus-->
	<!-- Place this tag in your head or just before your close body tag. -->
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
		{parsetags: 'explicit'}
	</script>
</head>

<body itemscope itemtype="http://schema.org/Product">
    <div id="fb-root"></div>
	<script type="text/javascript" src="app/fb-init.js"></script>
   @* <script src="~/app/kioos-init.js"></script>*@
    
	<ng-include src="'app/partials/header.html'"></ng-include>
	<div class="content container aired-v" ng-view></div>
	<ng-include src="'app/partials/footer.html'"></ng-include>

 @* <script>
  	function fbCtrl($scope, facebookService) {
  	    facebookService.getGroups().success(function (data) {
  	        console.log(data);
  	        $scope.groups = data.data;
  	    });
  	}
  </script>

	<div ng-controller="fbCtrl">
        <button class="btn">Novo Grupo</button>
        <ul ng-repeat="group in groups">
            <li>{{group.name}}</li>
        </ul>
	</div>*@
</body>
</html>
