<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//PT-BR" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pt-br" ng-app>
<head>
	<meta charset="iso-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Demo - Learning Channels</title>
	
	<!-- icons -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
		
	<!-- bootstrap core CSS -->	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	
	<!-- demo-izzui -->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Share:400,400italic,700,700italic"><!-- outros textos -->
	<link rel="stylesheet" type="text/css" href="css/demo-izzui.css">

	<!-- client's theme -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Enriqueta:400,700&subset=latin,latin-ext'> <!-- tipografia para a marca e títulos -->
	<link rel="stylesheet" type="text/css" href="css/vivo-theme.css">
</head>

<body>
	@RenderPage("inc/header.cshtml")

	<div class="container">
		<!-- Main Content Col -->
		<div id="content-main" class="col-xs-12 col-sm-9">

		</div><!-- /content-main-->

		<!-- Side Content -->
		<div id="" class="col-xs-12 col-sm-3">

		</div><!-- /side-content -->

	</div><!-- /container -->

	@RenderPage("inc/footer.cshtml")

	<script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/enquire.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/jquery.raty.min.js"></script>
	<script>
		///Bootstrap///
		//used for "Topics" bt
		$('#btn-topics').popover();

		//used for "Leaderboards" tabs
		$('#tab-leaderboard a:first').tab('show');

		///Enquire///
		//small devices

		//enquire.register("all and (max-width: 768px)", {
		//	match: function () {
		//		$('body').addClass('xs');
		//		$('#btn-topics').addClass('btn-block');
		//		$('#btn-user').addClass('btn-block');
		//		//$('.logo-holder').removeClass('navbar-brand');
		//	},
		//	unmatch: function () {
		//		$('body').removeClass('xs');
		//		$('#btn-topics').removeClass('btn-block');
		//		$('#btn-user').removeClass('btn-block');
		//		//$('.logo-holder').addClass('navbar-brand');
		//	}
		//});

		//tablets(landscape), facebook frame in 1024x768px
		enquire.register("all and (max-width: 1024px)", {
			match: function () {
				$('body').addClass('sm');
		//		$('#lb-icon').addClass('icon-2x');
			},
			unmatch: function () {
				$('body').removeClass('sm');
		//		$('#lb-icon').removeClass('icon-4x');
			}
		});

		//medium devices
		enquire.register("all and (min-width: 1025px)", {
			match: function () {
				$('body').removeClass('sm');
				$('body').addClass('md');
				$('#lb-icon').addClass('icon-4x');
			},
			unmatch: function () {
				$('#lb-icon').removeClass('icon-4x');
				$('body').removeClass('md');
			}
		});

		//medium and larger
		enquire.register("all and (min-width: 768px)", {
			match: function () {
				$('#col-navbar-form').addClass('col-sm-push-2');
				$('#col-btn-topics').addClass('col-sm-pull-5');
			},
			unmatch: function () {
				$('#col-navbar-form').removeClass('col-sm-push-2');
				$('#col-btn-topics').removeClass('col-sm-pull-5');
				//		$('#lb-icon').removeClass('icon-4x');
			}
		});

		///Angular///
		//Fill courses names
		function EnrolledCoursesCrtl($scope) {
			$scope.courses = [
				{ title: "Guerreiros em ação: Dia 1"			, thumb: "thumb-ID00001.jpg", price: "Grátis",	progress: "90" },
				{ title: "GC Multiplicador"						, thumb: "thumb-ID00002.jpg", price: "R$10,00",	progress: "55" },
				{ title: "Ws Liderança Educacional"				, thumb: "thumb-ID00003.jpg", price: "R$999,00",progress: "20" }
			];
		}
		function RecentAddedCoursesCrtl($scope) {
			$scope.courses = [
				{ title: "Excelencia em Atendimento"			, thumb: "thumb-ID00004.jpg", price: "Grátis" },
				{ title: "Avaliação: Excelência em Atendimento"	, thumb: "thumb-ID00005.jpg", price: "Grátis" },
				{ title: "Guerreiros em Ação: Dia 2"			, thumb: "thumb-ID00006.jpg", price: "Grátis" }
			];
		}
		function LeaderboardCrtl($scope) {
			$scope.users = [
				{ picture: "pic-ID00001.jpg", name: "Chuck",	lastname: "Norris",		points: "3459" },
				{ picture: "pic-ID00002.jpg", name: "Ryan",		lastname: "Tester",		points: "3200" },
				{ picture: "pic-ID00003.jpg", name: "Jon",		lastname: "Jones",		points: "3102" },
				{ picture: "pic-ID00004.jpg", name: "Chuck",	lastname: "Lidel",		points: "3004" },
				{ picture: "pic-ID00005.jpg", name: "Hulk",		lastname: "Hogan",		points: "2990" },
				{ picture: "pic-ID00006.jpg", name: "Rocky",	lastname: "Balboa",		points: "2920" },
				{ picture: "pic-ID00007.jpg", name: "Liu",		lastname: "Kang",		points: "2878" },
				{ picture: "pic-ID00008.jpg", name: "Bart",		lastname: "Simpson",	points: "2340" },
				{ picture: "pic-ID00009.jpg", name: "Fred",		lastname: "Flintstone",	points: "2145" },
				{ picture: "pic-ID00010.jpg", name: "Marty",	lastname: "McFly",		points: "2005" },
				//{ picture: "pic-me.jpg"		, name: "You!",		lastname: "",			points: "348" }
			];
		}

		///Raty///
		//Fake Ratings
		$('.star').raty({ path: 'img/', readOnly: true, score: 3, space: false, width: false });
	</script>

</body>
</html>
