<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//PT-BR" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pt-br" ng-app>
<head>
	<meta charset="iso-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Demo - Learning Channels</title>
	
	<!-- icons -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
		
	<!-- bootstrap core CSS -->	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	
	<!-- demo-izzui -->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Share:400,400italic,700,700italic"><!-- outros textos -->
	<link rel="stylesheet" type="text/css" href="css/demo-izzui.css">

	<!-- client's theme -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Enriqueta:400,700&subset=latin,latin-ext'> <!-- tipografia para a marca e títulos -->
	<link rel="stylesheet" type="text/css" href="css/vivo-theme.css">
</head>

<body>
	@RenderPage("inc/header.cshtml")

	<div class="container">
		<!-- Main Content Col -->
		<div id="content-main" class="col-xs-12 col-sm-9">
			
			<!-- Enrolled Courses -->
			<h1 class="clearfix title"><i class="icon-check right-far purple"></i>Minhas Inscrições<a href="#" class="btn btn-link pull-right">ver todas</a></h1>
			<div class="row" ng-controller="EnrolledCoursesCtrl">
				<div class="col-4 col-sm-4" ng-repeat="course in courses">
					<!-- card -->
					<a class="thumbnail card" href="p-course-unsub.cshtml">
						<img src="img/{{course.thumb}}" alt="{{course.title}}" />
						<div class="caption">
							<h3 class="title blue">{{course.title}}</h3>
							<h4 class="text-center orange">{{course.price}}</h4>
							<div class="text-center">
								<div class="star"></div>
							</div>
							<div class="extra-info clearfix">
								<div title="Visualizações" class="extra-info-group pull-left">
									<i class="icon-eye-open extra-info-icon gray"></i>
									<span class="extra-info-value">10330</span>
								</div><!-- /visualization -->
								<div title="Alunos Inscritos" class="extra-info-group pull-right">
									<i class="icon-ok-circle extra-info-icon gray"></i>
									<span class="extra-info-value">1033</span>
								</div><!-- /enrolled students -->
							</div><!-- /extra-info -->
							<div class="progress progress-striped active">
								<div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="{{course.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{course.progress}}%">
									<span class='sr-only'>45% Complete</span>
								</div>
							</div>
						</div><!-- /caption -->
					</a><!-- /card -->
				</div><!-- /col -->
			</div><!-- /row -->

			<!-- Recent Added -->
			<h1 class="clearfix title"><i class="icon-time right-far purple"></i>Cursos Recentes <a href="#" class="btn btn-link pull-right">ver todos</a></h1>
			<div class="row" ng-controller="RecentAddedCoursesCtrl">
				<div class="col-4 col-sm-4" ng-repeat="course in courses">
					<!-- card -->
					<a class="thumbnail card" href="p-course-unsub.cshtml">
						<img src="img/{{course.thumb}}" alt="{{course.title}}" />
						<div class="caption">
							<h3 class="title blue">{{course.title}}</h3>
							<h4 class="text-center orange">{{course.price}}</h4>
							<div class="text-center">
								<div class="star"></div>
							</div>
							<div class="extra-info clearfix">
								<div title="Visualizações" class="extra-info-group pull-left">
									<i class="icon-eye-open extra-info-icon gray"></i>
									<span class="extra-info-value">10330</span>
								</div><!-- /visualization -->
								<div title="Alunos Inscritos" class="extra-info-group pull-right">
									<i class="icon-ok-circle extra-info-icon gray"></i>
									<span class="extra-info-value">1033</span>
								</div><!-- /enrolled students -->
							</div><!-- /extra-info -->
							<div class="progress">
								<div class="progress-bar progress-bar-empty" role="progressbar" aria-valuenow="{{course.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{course.progress}}%">
									<span class="sr-only">0% Complete</span>
								</div>
							</div>
						</div><!-- /caption -->
					</a><!-- /card -->
				</div><!-- /col -->
			</div><!-- /row -->

		</div><!-- /col -->

		<!-- Side Content -->
		<div id="leaderboard" class="col-xs-12 col-sm-3 leaderboard-col">
			<div class="row text-center lb-header">
				<i id="lb-icon" class="icon-trophy icon-2x purple"></i>
				<h2 id="lb-title" class="title lb-title">Quadro de Líderes</h2>
			</div>

			<!-- Tabs for larger devices -->
			<div class="row">
				<ul id="lb-tab" class="nav nav-tabs nav-justified lb-tabs clearfix">
					<li class="active"><a href="#weekly" data-toggle="tab">mês</a></li>
					<li><a href="#all-time" data-toggle="tab">geral</a></li>
				</ul>
			</div>

			<div class="tab-content box-white row">
				<div id="weekly" class="tab-pane active">
					<table class="table table-condensed table-striped lb-table">
						<thead>
							<tr>
								<th colspan="3" class="dropdown clearfix">									
									<button type="button" class="btn btn-link btn-xxs dropdown-toggle pull-right" data-toggle="dropdown">Pontos<span class="caret mid"></span></button>
									<ul class="dropdown-menu pull-right">
										<li><a href="#">Troféus</a></li>
										<li><a href="#">Amigos</a></li>
										<li><a href="#">Cursos completos</a></li>
									</ul>
								</th>
							</tr>
						</thead>

						<tbody ng-controller="LeaderboardCtrl">

							<tr ng-repeat="user in users">
								<td class="text-center v-align-mid lb-pos">{{$index + 1}}</td>
								<td class="v-align-mid"><img class="right-mid user-thumb" src="img/{{user.picture}}" alt="{{user.name}}" />{{user.name}}</td>
								<td class="text-right v-align-mid">{{user.points}}</td>
							</tr>

							<tr class="warning">
								<td class="text-center v-align-mid lb-pos"><strong>877</strong></td>
								<td class="v-align-mid"><img class="right-mid user-thumb" src="img/pic-you.jpg" alt="You :)" /><strong>You</strong></td>
								<td class="text-right v-align-mid"><strong>375</strong></td>
							</tr>

							<tr>
								<td colspan="3">
									<button type="button" class="btn btn-primary btn-block enriqueta"><strong>Quadro Completo</strong></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div><!-- /weekly -->

				<div id="all-time" class="tab-pane">
					<table class="table table-condensed table-striped lb-table">
						<thead>
							<tr>
								<th colspan="3" class="dropdown clearfix">									
									<button type="button" class="btn btn-link btn-xxs dropdown-toggle pull-right" data-toggle="dropdown">Pontos<span class="caret mid"></span></button>
									<ul class="dropdown-menu pull-right">
										<li><a href="#">Troféus</a></li>
										<li><a href="#">Amigos</a></li>
										<li><a href="#">Cursos completos</a></li>
									</ul>
								</th>
							</tr>
						</thead>

						<tbody ng-controller="LeaderboardCtrl">

							<tr ng-repeat="user in users">
								<td class="text-center v-align-mid lb-pos">{{$index + 1}}</td>
								<td class="v-align-mid"><img class="right-mid user-thumb" src="img/{{user.picture}}" alt="{{user.name}}" />{{user.name}}</td>
								<td class="text-right v-align-mid">{{user.points}}</td>
							</tr>

							<tr class="warning">
								<td class="text-center v-align-mid lb-pos"><strong>877</strong></td>
								<td class="v-align-mid"><img class="right-mid user-thumb" src="img/pic-you.jpg" alt="You :)" /><strong>You</strong></td>
								<td class="text-right v-align-mid"><strong>375</strong></td>
							</tr>

							<tr>
								<td colspan="3">
									<button type="button" class="btn btn-primary btn-block enriqueta"><strong>Quadro Completo</strong></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div><!-- /all-time -->
			</div><!-- tab-content -->
		</div><!-- col-sm-3 -->

	</div><!-- /container -->

	@RenderPage("inc/footer.cshtml")

	<!-- Basics -->
	<script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/enquire.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	
	<!-- Angular Controllers -->
	<script type="text/javascript" src="js/ang-EnrolledCoursesCtrl.js"></script>
	<script type="text/javascript" src="js/ang-RecentAddedCoursesCtrl.js"></script>
	<script type="text/javascript" src="js/ang-LeaderboardCtrl.js"></script>

	<!-- Rating System -->
	<script type="text/javascript" src="js/jquery.raty.min.js"></script>

	<!-- triggering -->
	<script>
		//used for "Topics" bt
		$('#btn-topics').popover();

		//used for "Leaderboards" tabs
		$('#tab-leaderboard a:first').tab('show');

		//used for ratings
		$('.star').raty({ path: 'img/', readOnly: true, score: 3, space: false, width: false });

		///Enquire///

		//extra small devices
		//enquire.register("all and (max-width: 768px)", {
		//	match: function () {
		//		$('body').addClass('xs');
		//		$('#btn-topics').addClass('btn-block');
		//		$('#btn-user').addClass('btn-block');
		//		//$('.logo-holder').removeClass('navbar-brand');
		//	},
		//	unmatch: function () {
		//		$('body').removeClass('xs');
		//		$('#btn-topics').removeClass('btn-block');
		//		$('#btn-user').removeClass('btn-block');
		//		//$('.logo-holder').addClass('navbar-brand');
		//	}
		//});

		//tablets(landscape), facebook frame in 1024x768px
		enquire.register("all and (max-width: 1024px)", {
			match: function () {
				$('body').addClass('sm');
			},

			unmatch: function () {
				$('body').removeClass('sm');
			}
		});

		//medium devices
		enquire.register("all and (min-width: 1025px)", {
			match: function () {
				$('body').removeClass('sm');
				$('body').addClass('md');
				$('#lb-icon').addClass('icon-4x');
			},

			unmatch: function () {
				$('#lb-icon').removeClass('icon-4x');
				$('body').removeClass('md');
			}
		});

		//medium and larger devices
		enquire.register("all and (min-width: 768px)", {
			match: function () {
				$('#col-navbar-form').addClass('col-sm-push-2');
				$('#col-btn-topics').addClass('col-sm-pull-5');
			},

			unmatch: function () {
				$('#col-navbar-form').removeClass('col-sm-push-2');
				$('#col-btn-topics').removeClass('col-sm-pull-5');
			}
		});
	</script>

</body>
</html>
