	<div class="shadow-fx-box">
		<div class="box">
			<h2 class="box-header">Autor(a)</h2>
			<div class="box-content text-center">
				<img class="img-responsive img-circle" src="img/pic-author-ID00001.jpg" alt="Thomas Alva Edison" />
				<p class="author-name">Carolina Hauer</p>
				<ul class="list-unstyled list-inline list-justified icons-only has-tooltip">
					<li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="informações"><i class="icon-info-sign icon-large"></i></a></li>
					<li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="perfil do facebook"><i class="icon-facebook icon-large"></i></a></li>
					<li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="perfil do twitter"><i class="icon-twitter icon-large"></i></a></li>
					<li><a class="btn btn-icon-default" href="#" data-toggle="tooltip" data-placement="bottom" title="perfil do linkedin"><i class="icon-linkedin icon-large"></i></a></li>
				</ul>
			</div>
		</div><!-- /box -->
	</div><!-- /shadow-fx-box -->