<div class="leaderboard" ng-controller="boardsCtrl" iz-spinner hide-spinner="board">
    <div class="leaderboard-header row text-center">
        <i id="lb-icon" class="icon-flag-checkered icon-2x purple"></i>
        <h2 id="lb-title" class="leaderboard-heading">Quadro de Líderes</h2>
    </div>

    <div class="row">
        <ul id="lb-tab" class="nav nav-tabs nav-justified em9 clearfix">
            <li class="active">
                <a ng-click="boardLastMonth(true)" data-toggle="tab">mês</a>
            </li>
            <li>
                <a ng-click="boardLastMonth(false)" data-toggle="tab">geral</a>

            </li>
        </ul>
    </div><!-- /row -->
	<div class="box leaderboard-list row">
		<div class="box-content tab-content">
			<div id="weekly" class="tab-pane active">
				<table class="table table-condensed table-striped em9">
					<thead>
						<tr>
							<th colspan="3" class="dropdown clearfix">
								<button type="button" class="btn btn-link btn-xxs em1 dropdown-toggle pull-right" data-toggle="dropdown">Pontos<span class="caret mid"></span></button>
								<ul class="em1 dropdown-menu pull-right">
									<li><a href="#">Troféus</a></li>
									<li><a href="#">Amigos</a></li>
									<li><a href="#">Cursos completos</a></li>
								</ul>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="warning">
							<td class="text-center v-align-mid lb-pos"><strong>1</strong></td>
							<td class="v-align-mid">
								<img class="right-mid user-thumb" src="img/pic-you.jpg" alt="You :)" /><strong>You</strong></td>
							<td class="text-right v-align-mid"><strong>1000</strong></td>
						</tr>
						<tr ng-repeat="user in board">
							<td class="text-center v-align-mid lb-pos">{{$index + 2}}</td>
							<td class="v-align-mid">
								<img class="right-mid user-thumb" ng-src="img/{{user.thumb}}" alt="{{user.username}}" />{{user.username | firstNameFtr}}</td>
							<td class="text-right v-align-mid">{{user.score}}</td>
						</tr>
					</tbody>
				</table>
			</div><!-- /weekly -->
		</div><!-- /tab-content -->
		<div class="box-footer">
			<button class="btn btn-primary btn-xxs em7">Quadro Completo</button>
		</div>
	</div><!-- /box -->
</div>
