<div class="modal fade" id="modalEnrolledFriends">
    <div class="modal-dialog">
        <div class="modal-content" ng-controller="friendsCtrl">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Você possui {{countFriends}} amigos neste curso</h4>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled list-inline friends-list has-tooltip">
                    <li ng-repeat="friend in friends">
                        <a data-toggle="tooltip" data-placement="bottom" title="{{friend.name}}" href="{{friend.link}}" target="_blank">
                            <img class="img-100" ng-src="{{friend.picture.data.url}}" alt="{{friend.name}}" />
                        </a>
                    </li>
                </ul>
            </div><!-- /modal-body -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="modalCourseInfo">
    <div class="modal-dialog">
        <div class="modal-content" ng-controller="courseCtrl">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Course Info</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>{{course.title}}</div>
                    <div>{{course.description}}</div>
                    <div>{{course.target}}</div>
                    <div>{{course.objective}}</div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div>
    <div id="btn-icons-tt-container" class="btn-group btn-group-justified">
        <a class="btn btn-icon-default btn-half-width btn-ret" data-target="#modalCourseInfo" data-toggle="modal">
            <i class="icon-info-sign icon-3x smooth006" data-toggle="tooltip" title="Informações do curso"></i>
        </a>
        <a class="btn btn-icon-default btn-half-width btn-ret" data-toggle="modal" data-target="#modalEnrolledFriends">
            <i class="icon-group icon-3x smooth006" data-toggle="tooltip" title="Alunos inscritos"></i>
        </a>
    </div>
    <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-icon-default btn-half-width btn-ret" data-toggle="tooltip" data-placement="bottom"  title="Compartilhar essa lição"
            onclick="
            window.open(
                'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(location.href), 
                'facebook-share-dialog', 
                'width=626,height=436'); 
            return false;"><i class="icon-share-alt icon-3x smooth006"></i>
        </a>
        <a class="btn btn-icon-default btn-half-width btn-ret" onclick="FacebookRequest()" data-toggle="tooltip" data-placement="bottom" title="Convidar amigos">
            <i class="icon-comment-alt icon-3x smooth006"></i>
        </a>
    </div>
</div>