<div class="shadow-fx-box">
	<div class="box noborder">
		<h2 class="box-header">Amigos inscritos</h2>
		<ul class="box-content list-unstyled list-inline text-center friends-list side has-tooltip" ng-controller="friendsCtrl">
			<li class="friends-item" ng-repeat="friend in friends">
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="{{friend.name}}">
					<img class="img-responsive" ng-src="{{friend.picture.data.url}}" alt="amigo inscrito" /></a>
			</li>
		</ul>
		<div class="box-footer">
			<button class="btn btn-primary btn-xxs em7" onclick="FacebookRequest()">Convide mais amigos!</button>
		</div>
	</div>
</div>
