<div class="col-box box box-white">
    <h2 class="title title-padding em1-2">Enrolled friends</h2>

    <ul class="list-unstyled list-inline friends-list friends-list-side has-tooltip" ng-controller="friendsCtrl">
        <li class="friends-item" ng-repeat="friend in friends">
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="{{friend.name}}">
                <img class="img-100" ng-src="{{friend.picture.data.url}}" alt="{{friend.name}} picture." /></a>
        </li>
    </ul>
    <button class="btn btn-xxs em7 btn-primary btn-block" onclick="FacebookRequest()">Invite more friends!</button>

</div>
