	<footer id="footer" class="l-footer bg-white">
		<div class="container">
			<div class="col-sm-3">
				<a href="#!/">
					<div class="logo img-responsive"><span class="logo-description">acme: business courses</span></div>
				</a>
			</div><!-- /logo placement-->
			<div class="col-sm-9">
				<div class="col-sm-3">
						<h5>Follow us</h5>
						<ul class="list-unstyled">
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Google+</a></li>
							<li><a href="#">Linkedin</a></li>
						</ul>
				</div>
				<div class="col-sm-3">
						<h5>Legal</h5>
						<ul class="list-unstyled">
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">DMCA</a></li>
						</ul>
				</div>
				<div class="col-sm-3">
						<h5>Customer Care</h5>
						<ul class="list-unstyled">
							<li><a href="#">Knowledge Base</a></li>
							<li><a href="#">Share your idea</a></li>
							<li><a href="#">Send us feedback</a></li>
						</ul>
				</div>
				<div class="col-sm-3">
						<h5>Payment Forms</h5>
						<div>
							<img class="img-thumbnail img-pay-mthd" src="img/payment-method-01.jpg" alt="CC" />
							<img class="img-thumbnail img-pay-mthd" src="img/payment-method-02.jpg" alt="CC" />
							<img class="img-thumbnail img-pay-mthd" src="img/payment-method-03.jpg" alt="CC" />
						</div>
						<div>
							<img class="img-thumbnail img-pay-mthd" src="img/payment-method-04.jpg" alt="PP" />
						</div>
				</div>
			</div>
		</div><!-- /container -->
		<div class="text-center">
			<a href="www.izzui.com" title="Izzui" target="_blank"><img src="img/izzui.png" alt="powered by Izzui www.izzui.com" /></a>
		</div>
	</footer>