	<footer id="footer" class="l-footer">
		<div class="container">
			<div class="col-sm-3">
				<a href="#!/">
					<div class="logo"><span class="logo-description">matrix</span></div>
				</a>
			</div><!-- /logo placement-->
			<div class="col-sm-9">
				<div class="col-sm-3">
						<h5>Siga-nos</h5>
						<ul class="list-unstyled">
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Google+</a></li>
							<li><a href="#">Linkedin</a></li>
						</ul>
				</div>
				<div class="col-sm-3">
						<h5>Legal</h5>
						<ul class="list-unstyled">
							<li><a href="#">Privacidade</a></li>
							<li><a href="#">Termos</a></li>
							<li><a href="#">DMCA</a></li>
						</ul>
				</div>
				<div class="col-sm-3">
						<h5>Suporte</h5>
						<ul class="list-unstyled">
							<li><a href="#">Base de Conhecimento</a></li>
							<li><a href="#">Compartilhe sua Ideia</a></li>
							<li><a href="#">Dê o seu feeback</a></li>
						</ul>
				</div>
				<div class="col-sm-3">
						<h5>Formas de Pagamento</h5>
						<div>
							<img class="img-thumbnail img-pay-mthd" src="img/payment-method-01.jpg" alt="CC" />
							<img class="img-thumbnail img-pay-mthd" src="img/payment-method-02.jpg" alt="CC" />
							<img class="img-thumbnail img-pay-mthd" src="img/payment-method-03.jpg" alt="CC" />
						</div>
						<div>
							<img class="img-thumbnail img-pay-mthd" src="img/payment-method-04.jpg" alt="PP" />
						</div>
				</div>
			</div>
		</div><!-- /container -->
		<div class="text-center">
			<a href="www.izzui.com" title="Izzui" target="_blank"><img src="img/izzui.png" alt="powered by Izzui www.izzui.com" /></a>
		</div>
	</footer>