	<!--
		#################################
		Montar as mídias sociais no final
		#################################

		<ul class="list-inline">
		<li class="">
			<div class="fb-like" data-href="https://apps.facebook.com/izzuichannel/" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>
		</li>
		<li class="">
			<div class="g-plus" data-action="share" data-annotation="bubble" data-height="15" data-href="https://apps.facebook.com/izzuichannel/"></div>
			<script type="text/javascript">
				window.___gcfg = { lang: 'pt-BR' };

				(function () {
					var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					po.src = 'https://apis.google.com/js/plusone.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				})();
			</script>
		</li>
		<li class="">
			<script src="//platform.linkedin.com/in.js" type="text/javascript">lang: pt_BR</script>
			<script type="IN/Share" data-url="https://apps.facebook.com/izzuichannel" data-counter="right"></script>
		</li>
	</ul>
	-->
	<footer id="footer" class="footer bg-primary-color">
		<div class="row">
			<div class="container aired-v">
				<div class="col-xs-12 col-sm-3">
					<a class="logo-holder" href="#!/">
						<div class="logo logo-footer"><span class="logo-description">For Dummies</span></div>
					</a>

				</div><!-- /logo placement-->
				<div class="col-xs-12 col-sm-9">
					<div class="col-xs-12 col-sm-3">
							<h5 class="title i-b em1-2">Siga-nos</h5>
							<ul class="list-unstyled">
								<li><a href="http://www.facebook.com/ForDummies">Facebook</a></li>
								<li><a href="http://twitter.com/fordummies">Twitter</a></li>
								<li><a href="https://plus.google.com/105265587979403653723">Google+</a></li>
								<!-- <li><a href="#">Linkedin</a></li> -->
							</ul>
					</div>
					<div class="col-xs-12 col-sm-3">
							<h5 class="title i-b em1-2">Legal</h5>
							<ul class="list-unstyled">
								<li><a href="#">Privacidade</a></li>
								<li><a href="#">Termos</a></li>
								<li><a href="#">DMCA</a></li>
							</ul>
					</div>
					<div class="col-xs-12 col-sm-3">
							<h5 class="title i-b em1-2">Suporte</h5>
							<ul class="list-unstyled">
								<li><a href="#">Base de conhecimento</a></li>
								<li><a href="#">Mande sua ideia</a></li>
								<li><a href="#"><em>Feedback!</em></a></li>
							</ul>
					</div>
					<div class="col-xs-12 col-sm-3">
							<h5 class="title i-b em1-2">Formas de Pagamento</h5>
							<!--
							<h6>credit card</h6>
							-->
							<div>
								<img class="img-thumbnail img-pay-mthd" src="img/payment-method-01.jpg" alt="CC" />
								<img class="img-thumbnail img-pay-mthd" src="img/payment-method-02.jpg" alt="CC" />
								<img class="img-thumbnail img-pay-mthd" src="img/payment-method-03.jpg" alt="CC" />
							</div>
							<div>
								<img class="img-thumbnail img-pay-mthd" src="img/payment-method-04.jpg" alt="PP" />
							</div>
					</div>
				</div>
			</div><!-- /aired-v -->
			<div class="text-center aired">
				<a href="www.izzui.com" title="Izzui" target="_blank"><img src="img/izzui.png" alt="powered by Izzui www.izzui.com" /></a>
			</div>
		</div><!-- /row -->
	</footer>