<div class="shadow-fx-box">
	<div class="box" ng-controller="groupsCtrl">
		<h2 class="box-header">Groups</h2>
		<ul class="box-content list-unstyled groups-list em9">
			<li class="groups-item" ng-repeat="group in groups">
				<a class="groups-link" target="_top" ng-href="//facebook.com/groups/{{group.id}}">{{group.name}}</a><br />
				<span class="groups-info">{{group.members}} members</span>
			</li>
		</ul>
		<div class="box-footer">
			<button class="btn btn-primary btn-xxs em7" data-toggle="modal" data-target="#modalCreateGroup">Create a group!</button>
		</div>
		<div class="modal fade" id="modalCreateGroup" data-layout="topCenter" data-type="default" data-badge="maqNiv4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<form ng-submit="save()">
				<script>
					$('#modalCreateGroup')
					.on('show.bs.modal', function () {
						$('#btnCreateGroup').button('reset');
						$('#inputGroupName').val('');
					})
					.on('shown.bs.modal', function () {
						$('#inputGroupName').focus();
					})
				</script>
				<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Create a group</h4>
				</div>
				<div class="modal-body">
					<input id="inputGroupName" type="text" ng-model="groupName" class="form-control" required ng-minlength="3" ng-maxlength="50" ng-trim="true" placeholder="Name of the group"></input>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input type="submit" class="btn btn-primary" id="btnCreateGroup" data-loading-text="Creating..." value="Create!" />
				</div>
				</div><!-- /.modal-content -->
					</form>
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
</div>