	<div class="container aired-min bg-white">
		<div class="top-near">
			<a href="#!/" class="blockfy logo">
				<span class="logo-description">Tiffany's</span>
			</a>
		</div>

		<div class="navbar top-near clearfix">
				<iz-topics></iz-topics>	

				<div id="col-navbar-form" class="col-sm-8 clearfix">
					<form class="navbar-form search">
						<div class="input-group">
							<input type="text" class="form-control search-input">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="icon-search green"></i></button>
							</span>
						</div><!-- /input-group -->
					</form><!-- /navbar-form-->
				</div>		

				<iz-user></iz-user>
		</div><!-- /navbar -->
		<hr />
	</div>
	<!-- triggering -->
	<script>
	    //used for "Topics" bt
	    $('#btn-topics').popover();
	    //used for "Leaderboards" tabs
	    $('#tab-leaderboard a:first').tab('show');
    </script>