<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<link href="http://vjs.zencdn.net/4.1/video-js.css" rel="stylesheet">
</head>
<body ng-controller="VideoPlayerCtrl">
	<video id="{{video.id}}" class="video-js vjs-default-skin"
		controls preload="auto" width="{{video.width}}" height="{{video.height}}"
		poster="{{video.poster}}"
		data-setup='{{video.dataSetup}}'>
		{{video.sorceMp4}}
		{{video.sourceWebm}}
		{{video.sourceOgv}}
	</video>
	<script type="text/javascript">
		//videojs('{{id}}').ready(function () {
		//	var myPlayer = this;
		//	myPlayer.on("pause", function () {
		//		var duration = this.duration();
		//		var currentTime = this.currentTime();
		//		if (currentTime === duration) {
		//			console.log("Video concluído");
		//		} else {

		//			console.log('Paused in ' + this.currentTime() + ' of ' + this.duration());
		//		}
		//	});
			
		//	myPlayer.on("play", function () {
		//		console.log('video started');
		//	});
		//	myPlayer.play();
			

		//});
	</script>
	
	<script src="http://vjs.zencdn.net/4.1/video.js"></script>
	<script src="~/js/vjs.vimeo.js"></script>
	<script src="~/js/jjs.youtube.js"></script>
	<script src="~/js/angular.min.js"></script>
	<script src="~/videoPlayer/VidepPlayerCtrl.js"></script>

</body>
</html>
